{% load telemeta_utils %}
{% load i18n %}
{% if collections %}
{% if hits %}
<p class="pagination">Collections {{ first_on_page }} to {{ last_on_page }} on {{ hits }} 
&nbsp;&nbsp;
{% if has_previous %} <a href="?page={{ previous }}&amp;{{criteria|build_query_string}}">&lt;&lt;</a> {% endif %}
{% if has_next %} <a href="?page={{ next }}&amp;{{criteria|build_query_string}}">&gt;&gt;</a> {% endif %}
</p>
{% endif %}
<table class="listing">
<tr>
    <th class="highlight">{% trans "Title" %}</th>
    <th>{% field_label "MediaCollection" "creator" %}</th>
    <th>{% trans "Recordist" %}</th>
</tr>
{% for collection in collections %}
<tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
    <td class="highlight">
        <a href="{% url telemeta-collection-detail collection.public_id %}">{{ collection }}</a>
    </td>
    <td>{{ collection.creator }}</td>
    <td>{{ collection.apparent_collector }}</td>
</tr>
{% endfor %}
</table>
{% else %}
    <p>{% trans "No collection" %}</p>
{% endif %}

