body { font-size: 90%; }
h1 a, h2 a { text-decoration: none; color: black; }
h1 a { border-bottom: solid 2px #BBBBBB; }
h1 a:hover, h2 a:hover { border-bottom: solid 2px #990000; }
h1 { font-size: 150%; }
h2 { font-size: 110%; }
h1.title { border-bottom: solid 2px #990000; font-size: 170%; }
tt.literal, pre.literal-block { background: #EEEEEE; }
.contents a { color: #880000; }
