[submodule "telemeta/pages"]
	path = telemeta/pages
	url = git@github.com:Parisson/Telemeta-pages.git
[submodule "telemeta/locale"]
	path = telemeta/locale
	url = git@github.com:Parisson/Telemeta-locales.git
[submodule "doc/pelican-bootstrap3"]
	path = doc/themes/pelican-bootstrap3
	url = https://github.com/DandyDev/pelican-bootstrap3.git
