global-exclude *.pyc
prune dist
prune build
prune doc
recursive-exclude app/data *
include *.txt
include *.py
include *.rst
include *.yml
recursive-include app *
recursive-include tests *
recursive-include scripts *
recursive-include env *
recursive-include telemeta *
