include AUTHORS
include LICENSE
include CHANGELOG
include README.rst
include INSTALL.rst
exclude *.cfg
recursive-include doc *
recursive-include example *
recursive-include telemeta/locale *
recursive-include telemeta/templates *
recursive-include telemeta/htdocs *
recursive-include telemeta/backup *
recursive-include telemeta/pages *
global-exclude *.pyc
prune dist
prune build

