--index-url https://pypi.python.org/simple/

setuptools
wheel
-e git+https://github.com/thomasfillon/django-skosxl.git#egg=django-skosxl
-e git+https://github.com/thomasfillon/django-rdf-io.git#egg=django-rddf-io
-e .
# Tests
pytest-django==3.1.2
pytest-cov
factory-boy
