
-e git+https://github.com/mariocesar/sorl-thumbnail.git@v12.2#egg=sorl-thumbnail-12.2
-e git+https://github.com/Parisson/ebooklib.git#egg=ebooklib-0.16
-e git+https://github.com/Parisson/saved_searches.git#egg=saved_searches-2.0.0-beta
-e git+https://github.com/maths28/django-haystack.git@v2.4.1.dev0#egg=django-haystack-2.4.1.dev0
-e git+https://github.com/yomguy/django-jqchat.git#egg=django-jqchat
