setuptools
django==1.4.5
django-registration
django-json-rpc
numpy
timeside
south
sorl-thumbnail
django-extensions
docutils
django-timezones
django-jqchat
psutil
pyyaml
python-ebml
zipstream
django-debug-toolbar
