{% extends "telemeta/registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}
<form method='post' id="_loginForm" action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><br>

    <a href="#" onclick="$('#_loginForm').submit();" style="float: left;">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-log-in"></span> {% trans "Change password" %}
      </button>
    </a>

</table>
</form>
{% endblock %}
