{% load telemeta_utils %}
{% if items %}
    {% if hits %}
    <p class="pagination">Records {{ first_on_page }} to {{ last_on_page }} on {{ hits }} 
    &nbsp;&nbsp;
    {% if has_previous %} <a href="?page={{ previous }}&amp;{{criteria|build_query_string}}">&lt;&lt;</a> {% endif %}
    {% if has_next %} <a href="?page={{ next }}&amp;{{criteria|build_query_string}}">&gt;&gt;</a> {% endif %}
    </p>
    {% endif %}
    <ul>
    {% for p in items %}
        <li><a href="{% url telemeta-item-detail p.id %}">{{ p.title }}</a></li>
    {% endfor %}
    {% if more_items %} <li>[...]</li> {% endif %}
    </ul>
{% else %}
    <p>No item</p>
{% endif %}
