/* Shamelessly stolen from trac's admin.css... */

.tabs {
 border: 1px solid black;
 border-color: gray black black gray;
 margin: 2em 0;
 padding: .5em 0 0;
 float: left;
 width: 12em;
}
.tabs ul { list-style: none; margin: 0 0 .5em; padding: 0 }
.tabs li { margin: 0; padding: 0.1em .5em }
.tabs li li { margin: 0 -0.5em; padding-left: 1.5em }
.tabs li li.active { background: #ccb; }
.tabs :link, .tabs :visited { border: none; display: block }
.tabs :link:hover, .tabs :visited:hover { background: transparent }

.tabcontents {
 padding: 0.4em 2em;
 margin-left: 12em;
 min-height: 300px;
}
p.help { color: #666; font-size: 90%; margin: 1em .5em .5em }

form.addnew { clear: right; float: right; margin: -2em 0 4em; width: 33% }
form.mod { margin-top: 1em; }
form.mod .field { margin: .5em 0; }
form .field em { color: #888; font-size: smaller }
form .field .disabled em { color: #d7d7d7 }

table.listing { clear: none; width: 64% }
table.listing .sel, table.listing .default { text-align: center; width: 1% }



