.ts-player {
    padding-bottom: 0;
    clear: both;
    padding-top: 16px !important;
}

.ts-player .ts-wave {
    height: 200px;
}
.ts-player .ts-image {
    width: 334px;
    height: 200px;
}

#player_maximized, #player_minimized {
    position: relative;
}


#player_maximized .toggle, #player_minimized .toggle {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 4px;
    width: 18px;
    padding: 10px 0 0 0;
    height: 0px !important; 
    height /**/:10px; /* for IE5/Win only */
    background-image: url('../images/maximize.gif');
    text-decoration: none;
    border: 0;
}
#player_maximized {
    margin: 10px 0 15px 0;
    display: none;
}
