body {
    font-family: Verdana;
    font-size: 80%;
}

#header {
    font-size: 140%;
    border-bottom: solid 1px black;
    font-weight: bold;
    padding-bottom: 0.8em;
    padding-top: 0.2em;
}
#header a {
    color: black;
    text-decoration: none;
}
#header a img {
    border: none;
}

/*
label {
    width: 20ex;
    display: block;
    float: left;
}
input {
    margin-bottom: 1ex;
}
*/

#menu {
    text-align: right;
    clear: right;
}

a:link, a:visited {
    border-bottom:1px dotted #BBBBBB;
    color:#BB0000;
    text-decoration:none;
}

a:link:hover, a:visited:hover {
    background-color:#EEEEEE;
    color:#555555;
}

#menu a {
}

#quick_search {
    position: absolute;
    top: 2em;
    right: 1em;
}

#quick_search input {
    vertical-align: middle;
    font-size: 90%;
}

#quick_search_pattern {
}

.item_visualization {
  float: right;
  padding: 1ex;
}
.item_visualization select {
  width: 200px;
}

.item_visualization img {
  width: 300px;
  border: solid 1px black;
}


/* Styles for tabular listings (stolen from trac) */
table.listing {
 clear: both;
 border-bottom: 1px solid #d7d7d7;
 border-collapse: collapse;
 border-spacing: 0;
 margin-top: 1em;
 width: 100%;
}
table.listing th { text-align: left; padding: 0 1em .1em 0; font-size: 12px }
table.listing thead { background: #f7f7f0 }
table.listing thead th {
 border: 1px solid #d7d7d7;
 border-bottom-color: #999;
 font-size: 11px;
 font-weight: bold;
 padding: 2px .5em;
 vertical-align: bottom;
}
table.listing thead th :link:hover, table.listing thead th :visited:hover {
 background-color: transparent;
}
table.listing thead th a { border: none; padding-right: 12px }
table.listing th.asc a, table.listing th.desc a { font-weight: bold }
table.listing th.asc a, table.listing th.desc a {
 background-position: 100% 50%;
 background-repeat: no-repeat;
}
table.listing th.asc a { background-image: url(../asc.png) }
table.listing th.desc a { background-image: url(../desc.png) }
table.listing tbody td, table.listing tbody th {
 border: 1px dotted #ddd;
 padding: .33em .5em;
 vertical-align: top;
}
table.listing tbody td a:hover, table.listing tbody th a:hover {
 background-color: transparent;
}
table.listing tbody tr { border-top: 1px solid #ddd }
table.listing tbody tr.even { background-color: #fcfcfc }
table.listing tbody tr.odd { background-color: #f7f7f7 }
table.listing tbody tr:hover { background: #eed !important }

/*
#content {
    position: relative;
} 
*/
/* Forms */
input, textarea, select { margin: 2px }
input, select { vertical-align: middle }
input[type=button], input[type=submit], input[type=reset] {
 background: #eee;
 color: #222;
 border: 1px outset #ccc;
 padding: .1em .5em;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
 background: #ccb;
}
input[type=button][disabled], input[type=submit][disabled],
input[type=reset][disabled] {
 background: #f6f6f6;
 border-style: solid;
 color: #999;
}
input[type=text], input.textwidget, textarea { border: 1px solid #d7d7d7 }
input[type=text], input.textwidget { padding: .25em .5em }
input[type=text]:focus, input.textwidget:focus, textarea:focus {
 border: 1px solid #886;
}
option { border-bottom: 1px dotted #d7d7d7 }
fieldset { border: 1px solid #d7d7d7; padding: .5em; margin: 0 }
fieldset.iefix { background: transparent; border: none; padding: 0; margin: 0 }
* html fieldset.iefix { width: 98% }
fieldset.iefix p { margin: 0 }
legend { color: #999; padding: 0 .25em; font-size: 90%; font-weight: bold }
label.disabled { color: #d7d7d7 }
.buttons { margin: .5em .5em .5em 0 }
.buttons form, .buttons form div { display: inline }
.buttons input { margin: 1em .5em .1em 0 }
.inlinebuttons input { 
 font-size: 70%;
 border-width: 1px;
 border-style: dotted;
 margin: 0;
 padding: 0.1em;
 background: none;
}
