* {margin: 0; padding: 0;}
a {text-decoration: none; color: #969696;}
a img {border: none;}
html, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
body {
    font: 0.8125em/1em Verdana, sans-serif;
    line-height: 1.3em;
    color: #333;
    background: #FFF;
    margin: 1.3em;
}

a:link, a:visited {
    border-bottom:1px dotted #BBB;
    color:#BB0000;
    text-decoration:none;
}
a:link:hover, a:visited:hover {
    background-color:#EEE;
    color:#555;
}
a img { border: none; }

h3 {
    font-size: 1.1em;
    font-weight: bold;
    color: #353535;
}
.nett {
    clear: both;
    height: 5px;
}
/* Min-width */
#content, #header, #submenu {
    min-width: 740px;
}

#content {
    position: relative;
    margin-bottom: 2em;
} 
#content ul, #content ul ul, #content ol {
    list-style: square;
    padding: .7em;
    padding-left: 2em;
    font-size: 0.8em;
    clear: both;
}
#content ul ul {
    font-size: 1.1em;
    padding-left: 0;
}
#content li {
    padding: .2em;
    padding-left: 0;
}
#content li a {
    padding: .1em 0;
}
#header {
    padding: 0.2em 0;
    margin-bottom: .9em;
}

#logo a, #logo a:hover { border: none; background: transparent; }

#submenu {
    position: relative;
    margin: 5px 0 0;
}
#submenu h3, #submenu div {
    min-height: 1.6em;
}
#submenu h3 {
    margin-right: 80px;
}
#submenu div {
    position: absolute;
    right: 0;
    top: 0;
}
#submenu a {
    height: 1.6em;
    color: #4d508a;
    font-size: 0.9em;
    font-weight: bold;
}
#leftcol {
    position: relative;
    margin-right: 345px;
    min-height: 450px;
    min-width: 400px;
}
#rightcol {
    clear: both;
    position: absolute;
    right: .3em;
    width: 308px;
    text-align: right;
    margin-top: 10px;
    border: 1px dotted #999;
    padding: 6px;
    background-color: #eee;
}
#rightcol div {
    text-align: left;
    position: relative;
}
#rightcol form {
    width: 305px;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #adadad;
}
#item_player_c {
    width: 305px;
    padding: 2px 0 0;
    border: 1px solid #adadad;
    text-align: center;
}
.item_visualization select { width: 210px; }
.item_visualization .viewport { width: 305px; border: 1px solid #adadad; overflow: auto; margin-top: 5px; background-color: #fff;}

.exporter {
    background-color: #fff;
    color: #555;
    border: 1px solid #adadad;
    width: 301px;
    padding: 2px;
    height: 17px;
    margin: 5px 0 0;
    overflow: auto;
    font-size: 1em;
}

/* Geographic navigator */
ul.continents, ul.continents ul { list-style: none; margin: 0; padding: 0;}
ul.continents { margin: 1em 0; }
ul.continents ul {margin-left: 0; margin-bottom: 0.9em; padding: 0 1em 1em 0;}
ul.continents li.name { width: 460px; float: left; margin-right: 30px;}
ul.continents li.name b { font-size: 120%; font-weight: bold; }
ul.continents ul li { display: inline; padding-right: 2em;}
ul.continents ul li a { line-height: 1.8em; }

/* Collection */
#leftcol .intro {
    font-size: 1em;
    font-weight: bold;
    color: #444;
    margin: 5px 0;
    padding-left: 13px;
    font-size: 0.8em;
    background: #FFF url(indent.png) no-repeat 0 1px;
}
#leftcol .intro span {
    padding: 3px;

}

/* Forms */
input, textarea, select { margin: 2px }
input, select { vertical-align: middle }
input[type=button], input[type=submit], input[type=reset] {
 background: #f2f2f2;
 color: #444;
 border: 3px double #ccc;
 padding: .1em .5em;
 font-weight: bold;
 cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
 background: #8D8C94;
 color: #fff;
}
input[type=button][disabled], input[type=submit][disabled],
input[type=reset][disabled] {
 background: #f6f6f6;
 border-style: solid;
 color: #999;
}
input[type=text], input.textwidget, textarea { border: 1px solid #ccc; }
input[type=text], input.textwidget { padding: .25em .1em }
input[type=text]:focus, input.textwidget:focus, textarea:focus {
   border-color: #aaa;
}
option { border-bottom: 1px dotted #d7d7d7; }
fieldset { border: 1px solid #d7d7d7; padding: .5em; margin: 0 }
fieldset.iefix { background: transparent; border: none; padding: 0; margin: 0 }
* html fieldset.iefix { width: 98% }
fieldset.iefix p { margin: 0 }
legend { color: #999; padding: 0 .25em; font-size: 90%; font-weight: bold }
label.disabled { color: #d7d7d7 }
.buttons { margin: .5em .5em .5em 0 }
.buttons form, .buttons form div { display: inline }
.buttons input { margin: 1em .5em .1em 0 }
.inlinebuttons input { 
 font-size: 70%;
 border-width: 1px;
 border-style: dotted;
 margin: 0;
 padding: 0.1em;
 background: none;
}

/* Quick search */
#quick_search {
    position: absolute;
    top: 2.5em;
    right: 1.1em;
}
#quick_search form {
    float: left;
    margin-right: 12px;
}
#quick_search p {
    margin-top: .3em;
}
#quick_search a {
    font-size: .8em;
    font-weight: bold;
}
#quick_search input {
    vertical-align: middle;
    font-size: .8em;
    margin-right: 0;
}
#quick_search_pattern {
    background: #FFF url(search_bg.png) no-repeat;
    padding: .4em .1em;
    padding-left: 25px;
    width: 150px;
    color: #555;
    font-weight: bold;
}

/* Search form */
#searchform {
    margin: 15px 0;
}
#searchform fieldset {
    padding: 0;
    padding: .5em;
    width: 450px;
    border: none;
    border: 1px dotted #888;
    margin-bottom: 1em;
}
#searchform p {
    background-color: #fff;
    padding: .5em 0;
}
#searchform label {
    font-size: 0.8em;
    display: block;
    float: left;
    width: 30%;
    margin-left: 15px;
    margin-top: .2em;
    line-height: 1.8em;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}
#searchform select {
    width: 59%;
}
#searchform fieldset input {
    width: 56%;
}
#searchform select, #searchform fieldset input {
    font-size: 0.8em;
}
#searchform .submit {
    padding: 0;
    clear: both;
    width: 450px;
}

/* Navigation (borrowed from Trac) */
.nav h2, .nav hr { display: none }
.nav ul { font-size: 10px; list-style: none; margin: 0; text-align: right }
.nav li {
 border-right: 1px solid #d7d7d7;
 display: inline;
 padding: 0 .75em;
 white-space: nowrap;
}
.nav li.last { border-right: none }

/* Main navigation bar  (borrowed from Trac) */
#menu {
 background: #f7f7f7 url(../images/topbar_gradient.png) 0 0;
 border: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 margin: .66em 0 .33em;
 padding: .2em 0;
}
#menu li { border-right: none; padding: .25em 0 }
#menu :link, #menu :visited {
 background: url(../images/dots.gif) 0 0 no-repeat;
 border-right: 1px solid #fff;
 border-bottom: none;
 border-left: 1px solid #555;
 color: #000;
 padding: .2em 20px;
}
* html #menu :link, * html #menu :visited { background-position: 1px 0 }
#menu :link:hover, #menu :visited:hover {
 background-color: #ccc;
 border-right: 1px solid #ddd;
}
#menu .active :link, #menu .active :visited {
 background: #333 url(../images/topbar_gradient2.png) 0 0 repeat-x;
 border-top: none;
 border-right: 1px solid #000;
 color: #eee;
 font-weight: bold;
}
#menu .active :link:hover, #menu .active :visited:hover {
 border-right: 1px solid #000;
}

/* Footer (borrowed from Trac) */
#footer {
  clear: both;
  color: #bbb;
  font-size: 10px;
  border-top: 1px solid;
  height: 31px;
  padding: .25em 0;
  margin-top: 3em;
}
#footer :link, #footer :visited { color: #bbb; }
#footer hr { display: none }
#footer #telemeta_powered { border: 0; float: left }
#footer #telemeta_powered:hover { background: transparent }
#footer p { margin: 0 }
#footer p.left {
  float: left;
  margin-left: 1em;
  padding: 0 1em;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
#footer p.right {
  float: right;
  text-align: right;
}

/* Homepage */
.homelinks a { font-size: 120%;}


/* Definition list */
dl {
    position: relative;
    margin: .5em 0;
}
dl dt, dl dd {
    position: relative;
    margin: 0;
    margin-bottom: .5em;
    padding: 0;
    font-size: 0.8em;
    line-height: 1.4em;
    min-height: 1.4em;
}
dl dd {
    border: 1px solid transparent;
}
dl dt {
    clear: both;
    float: left;
}
/* ie5 mac \*/
dt { clear: both;}
/* end hack */

dl.listing dt {
    width: 18em;
    background-color: #f9f9f9;
    border: .1em solid #eee;
    border-right: .3em solid #ddd;
    padding-left: .3em;
    margin-right: .8em;
    color: #444;
}
dl.listing dt.group {
    float: none;
    margin-top: .9em;
    background-color: #DDDDDD;
    border-color: #ccc;
    border-right: .1em solid #ccc;
    width: 18.2em;
}
dl.listing dd {
    margin-left: 19.4em;
    font-weight: bold;
}

/* dublin core display */
h4.dublincore {
    text-align: left;
    padding: 5px 0 10px;
    font-weight: bold;
    color: #666;
}
dl.dublincore dt {
    margin-right: .8em;
    width: 23em !important;
    font-style: italic;
}
dl.dublincore dd {
    margin-left: 23.4em;
    font-weight: bold;
}
dl.dublincore dt span {
    width: 13em;
    display: block;
    float: left;
    font-style: normal;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-right: 3px solid #ddd;
    padding-left: .3em;
    margin-right: 1.2em;
    color: #444; 
}
dl.dublincore .caption {
    background-color: #B8B7C1;
    margin: .5em 0;
    margin-top: 0;
    border-bottom: 1px dotted #666;
    padding-top: .4em;
    padding-bottom: .4em;
    padding-left: .3em;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #fff;
}
dl.dublincore dt.caption span {
    background-color: #B8B7C1;
    border: none;
    border-right: 1px solid #fff;
    color: #fff;
}
dl.dublincore dd.caption {
    padding-top: .3em;
    padding-left: .4em;
    margin-left: 23.4em;
}

/* infos item/collection */
.infos, .extraInfos {
    margin-bottom: 15px;
}
.extraInfos div {
    padding: 0;
    margin-bottom: 5px;
}
.extraInfos .nett {
    position: relative;
    height: 0;
    margin-bottom: -5px;
}
.extraInfos h4 {
    clear: both;
    font-size: 0.9em;
    line-height: 1.4em;
}
.extraInfos h4 a {
    display: block;
    color: #333;
    text-decoration: none;
    margin: 0;
    background: #fff url(more.gif) no-repeat left top;
    padding-bottom: 2px;
    padding-left: 16px;
    border-bottom: none;
    outline: none;
}
.extraInfos h4 a:hover {
    background-color: transparent;
    border-bottom: none;
    color: #555;
}
.extraInfos h4.on {
    border-bottom: 1px dotted #aaa;
    margin-right: 15px;
}
.extraInfos h4.on a {
    color: #333;
    background-position: 0 -17px;
}

/* Pagination */
.pagination {
    margin-top: .7em;
    margin-bottom: .3em;
    padding: .3em 0;
    float: left;
    font-size: .9em;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    color: #333;
    font-weight: bold;
}
.pagination a {
    background-color: #eee;
    border-bottom: none;
    font-size: .9em;
    padding: .3em;
}

/* Item instruments */
div.instruments {
    position: relative;
    margin-left: -.7em;
    margin-right: .5em;
}
table.instruments {
    border: none;
    border-collapse: separate;
    width: 100%;
    border-spacing: .7em;
}
table.instruments td {
    font-size: .8em;
    padding: 0 .2em;
}
table.instruments thead td {
    background-color: #F9F9F9;
    border: .1em solid #E1E1E1;
    border-bottom: .3em solid #E1E1E1;
}
table.instruments tbody td {
    border-bottom: .1em solid #E1E1E1;
}

/* Styles for tabular listings (stolen from trac) */
table.listing {
    clear: both;
    border-spacing: 0;
    width: 100%;
}
table.listing th {
    text-align: left;
    padding: 0 14em .1em 0;
    font-size: 1em;
}
table.listing th, table.listing td {
    font-size: 0.8em;
    border-bottom: 1px solid #dfdfdf;
}
table.listing thead { background: #e8eaf0 }
table.listing thead th {
    font-size: 0.9em;
    padding: 3px .5em 3px;
}
table.listing thead th :link:hover, table.listing thead th :visited:hover {
    background-color: transparent;
}
table.listing thead th a {
    border: none;
    padding-right: 12px;
}
table.listing th.asc a, table.listing th.desc a { font-weight: bold }
table.listing th.asc a, table.listing th.desc a {
 background-position: 100% 50%;
 background-repeat: no-repeat;
}
table.listing th.asc a { background-image: url(../images/asc.png) }
table.listing th.desc a { background-image: url(../images/desc.png) }
table.listing tbody td, table.listing tbody th {
    padding: .33em .5em;
    vertical-align: top;
    font-weight: normal;
}
table.listing tbody td {
    font-weight: bold;
}
table.listing tbody td.tmp {
    width: 100%;
}
table.listing tbody td a:hover, table.listing tbody th a:hover {
 background-color: transparent;
}
table.listing tbody tr { border-top: 1px solid #ddd }
table.listing tbody tr.even { background-color: #fcfcfc }
table.listing tbody tr.odd { background-color: #f7f7f7 }
table.listing tbody tr:hover { background: #f7f8fa !important }