{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% url telemeta-css "admin.css" %}" />
{% endblock %}

{% block content %}
<h3>{% trans "Administration" %}</h3>
<br />
<div class="tabs">
<ul>
<li><a href="{% url telemeta-admin-general %}">{% trans "General administration" %}</a></li>
<li><a href="{% url telemeta-admin-users %}">{% trans "Users" %}</a></li>
<li><a href="{% url telemeta-admin-enumerations %}">{% trans "Enumerations" %}</a></li>
<li><a href="{% url telemeta-instrument-edit %}">{% trans "Instruments" %}</a></li>
</ul>
</div>
{% block tab %}
{% endblock tab %}

<div class="tabcontents">
    {% block tabcontents %}
    {% endblock %}
</div>
{% endblock %}
