{% extends "telemeta/base.html" %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% url telemeta-css "admin.css" %}" />
{% endblock %}

{% block content %}
<h3>Administration</h3>
<br />
<div class="tabs">
<ul>
<li><a href="/admin/general/">Administration générale</a></li>
<li><a href="/admin/enumerations/">Enumerations</a></li>
<li><a href="/admin/instruments/">Instruments</a></li>
</ul>
</div>
{% block tab %}
{% endblock tab %}

<div class="tabcontents">
    {% block tabcontents %}
    {% endblock %}
</div>
{% endblock %}
