{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block head_title %}{% trans "Media Collections" %} - {{ block.super }}{% endblock %}

{% block submenu %}
    <div class="buttons">  
    {% if user.is_authenticated and perms.telemeta.add_mediacollection %}
     <button><a href="{% url telemeta-collection-add %}">Add</a></button>
    {% endif %}
    </div>
{% endblock %}

{% block content %}
<h3>{% trans "Media Collections" %}</h3>

{% with object_list as collections %}
<div class="fullpage">
{% include "telemeta/inc/collection_list.html" %}
</div>
{% endwith %}

{% endblock %}
