{% extends "telemeta/collection_detail.html" %}

{% block tools %}
    <a href="{% url telemeta-collection-detail collection.public_id %}">
     <img src="images/edit_cancel.png" style="vertical-align:middle" /></a>
{% endblock %}

{% block infos %}
        <div class="infos">
        <form method="POST" action="">{% csrf_token %}
        <table>
             {{ form }}
        </table>
        <div align="center">
         <a href="{% url telemeta-collection-detail collection.public_id %}">
          <img src="images/edit_cancel.png" style="vertical-align:middle" /></a>
         <input type="image" src="images/save_changes.png" style="vertical-align:middle" value="save"/>
        </div>
        </form>
        </div>
{% endblock infos%}
