{% extends "telemeta/base.html" %}
{% load telemeta_utils %}

{% block extra_javascript %}
<script src="{% url telemeta-js "jquery.js" %}" type="text/javascript"></script>
<script src="{% url telemeta-js "application.js" %}" type="text/javascript"></script>
<script src="{% url telemeta-js "swfobject.js" %}" type="text/javascript"></script>
{% endblock %}

{% if collection %}

{% block submenu %}
    <h3>Collection: {{ collection.title }}</h3>
    <div><a href="{% url telemeta-collection-dublincore collection.code %}">Dublin Core</a></div>
{% endblock %}

{% block content %}
    <div class="{% if collection.has_mediafile %}with-rightcol{% endif %}">
        {% if collection.has_mediafile %}
        <div id="rightcol">
            <div id="collection_player">
              <p><b>Listen to this collection</b>
              (<a href="{% url telemeta-collection-m3u collection.code %}">M3U</a>,
              <a href="{% url telemeta-collection-xspf collection.code %}">XSPF</a>)</p>
              {% if 0 %} {# Use 1/0 for alternate player #}
                <!-- This is the XSPF Web Music Player, under the BSD license, 
                  from: http://musicplayer.sourceforge.net/-->
                <object type="application/x-shockwave-flash" width="362" height="200"
                  data="{% url telemeta-swf "xspf_player.swf" %}?playlist_url={% url telemeta-collection-xspf collection.code %}">
                  <param name="movie" 
                    value="{% url telemeta-swf "xspf_player.swf" %}?playlist_url={% url telemeta-collection-xspf collection.code %}" />
                </object>
              {% else %}
                <!-- This is Jeroen Wijering's Flash MP3 Player, 
                  under CC Attribution-NonCommercial-ShareAlike 2.0 license
                  from: http://www.jeroenwijering.com/?item=Flash_MP3_Player-->
                <p id="collection_player_c">
                  <a href="http://www.macromedia.com/go/getflashplayer">Get Flash</a> to see this player.
                </p>
                <script type="text/javascript">
                  var so = new SWFObject('{% url telemeta-swf "mp3player.swf" %}','playlist','362','200','7');
                  so.addVariable("file","{% url telemeta-collection-xspf collection.code %}");
                  so.addVariable("displayheight","0");
                  so.write('collection_player_c');
                </script> 
              {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="intro">
            <span>{% if collection.items.count %}{{ collection.items.count }} {% ifequal collection.items.count 1 %}item{% else %}items{% endifequal %}{% else %}No item{% endif %}</span>
        </div>
        <div class="infos">
        {% block general_info %}
            <dl class="listing">
                {% if collection.creator %}<dt>Auteur / Cédant</dt><dd>{{ collection.creator }}</dd>{% endif %}

                {% if collection.is_published %}
                {% if collection.date_published %}<dt>Date</dt><dd>{{ collection.date_published }}</dd>{% endif %}
                {% else %}
                {% if collection.annee_enr %}<dt>Date</dt><dd>{{ collection.annee_enr }}</dd>{% endif %}
                {% endif %}

                {% if collection.title %}<dt>Titre</dt><dd>{{ collection.title }}</dd>{% endif %}
                {% if collection.native_title %}<dt>Traduction du titre</dt><dd>{{ collection.native_title }}</dd>{% endif %}
                {% if collection.duree_approx %}<dt>Durée</dt><dd>{{ collection.duree_approx }}</dd>{% endif %}

                {% if collection.is_published %}
                {% if collection.publisher %}<dt>Éditeur</dt><dd>{{ collection.publisher }}</dd>{% endif %}
                {% if collection.publisher_reference %}<dt>Référence</dt><dd>{{ collection.publisher_reference }}</dd>{% endif %}
                {% endif %}

            </dl>
        {% endblock general_info %}
        </div>
        <div class="extraInfos">
        {% block geoethnic_data %}
            <div>
                <h4><a href="#">Données ethnographiques</a></h4>
                <div>
                    <dl class="listing">

                    {% if collection.get_countries %}
                    <dt>État / Nation</dt><dd>{{collection.get_countries|join:", "}}</dd>
                    {% endif %}

                    {% if collection.get_ethnic_groups %}
                    <dt>Ethnie / Groupe social</dt><dd>{{ collection.get_ethnic_groups|join:", " }}</dd>
                    {% endif %}

                    {% if collection.terrain_ou_autre %}<dt>Contexte de l’enregistrement</dt><dd>{{ collection.terrain_ou_autre }}</dd>{% endif %}

                    </dl>
                </div>
            </div>
        {% endblock geoethnic_data %}
        </div>
        {% if collection.is_published %}
        <div class="extraInfos">
        {% block publication_data %}
            <div class="folded">
                <h4><a href="#">Détails du document édité</a></h4>
                <div>
                    <dl class="listing">
                    {% if collection.publishing_status %}<dt>Réédition</dt><dd>{{ collection.publishing_status }}</dd>{% endif %}
                    {% if collection.booklet_writer %}<dt>Auteur Notice</dt><dd>{{ collection.booklet_writer }}</dd>{% endif %}
                    {% if collection.booklet_description %}<dt>Notice</dt><dd>{{ collection.booklet_description }}</dd>{% endif %}
                    </dl>
                </div>
            </div>
            <div class="nett"></div>
        {% endblock publication_data %}
        </div>
        {% endif %}
        <div class="extraInfos">
        {% block document_identification %}
            <div class="folded">
                <h4><a href="#">Identification du document</a></h4>
                <div>
                    <dl class="listing">
                    {% if collection.id %}<dt>Cote</dt><dd>{{ collection.id }}</dd>{% endif %}
                    {% if collection.physical_format %}<dt>Format de l'original</dt><dd>{{ collection.physical_format }}</dd>{% endif %}
                    </dl>
                </div>
            </div>
        {% endblock document_identification %}
        </div>
        <div class="extraInfos">
        {% block document_data %}
            <div class="folded">
                <h4><a href="#">Informations documentaires</a></h4>
                <div>
                    <dl class="listing">
                    {% if collection.a_informer %}<dt>a informer</dt><dd>{{ collection.a_informer }}</dd>{% endif %}
                    {% if collection.acquisition_mode %}<dt>acquisition mode</dt><dd>{{ collection.acquisition_mode }}</dd>{% endif %}
                    {% if collection.champ36 %}<dt>champ36</dt><dd>{{ collection.champ36 }}</dd>{% endif %}
                    {% if collection.collector %}<dt>collector</dt><dd>{{ collection.collector }}</dd>{% endif %}
                    {% if collection.comment %}<dt>comment</dt><dd>{{ collection.comment }}</dd>{% endif %}
                    <!--
                    <dt>compil face plage</dt><dd>{{ object.compil_face_plage }}</dd>
                    -->
                    {% if collection.deposant_cnrs %}<dt>deposant cnrs</dt><dd>{{ collection.deposant_cnrs }}</dd>{% endif %}
                    {% if collection.fiches %}<dt>fiches</dt><dd>{{ collection.fiches }}</dd>{% endif %}
                    {% if collection.is_full_copy %}<dt>is full copy</dt><dd>{{ collection.is_full_copy }}</dd>{% endif %}
                    {% if collection.is_original %}<dt>is original</dt><dd>{{ collection.is_original }}</dd>{% endif %}
                    {% if collection.numerisation %}<dt>numerisation</dt><dd>{{ collection.numerisation }}</dd>{% endif %}
                    {% if collection.physical_items_num %}<dt>physical items num</dt><dd>{{ collection.physical_items_num }}</dd>{% endif %}
                    {% if collection.publisher_collection %}<dt>publisher collection</dt><dd>{{ collection.publisher_collection }}</dd>{% endif %}
                    {% if collection.publisher_serial_id %}<dt>publisher serial id</dt><dd>{{ collection.publisher_serial_id }}</dd>{% endif %}
                    {% if collection.record_author %}<dt>record author</dt><dd>{{ collection.record_author }}</dd>{% endif %}
                    {% if collection.record_writer %}<dt>record writer</dt><dd>{{ collection.record_writer }}</dd>{% endif %}
                    {% if collection.ref_biblio %}<dt>ref biblio</dt><dd>{{ collection.ref_biblio }}</dd>{% endif %}
                    {% if collection.rights %}<dt>rights</dt><dd>{{ collection.rights }}</dd>{% endif %}
                    {% if collection.travail %}<dt>travail</dt><dd>{{ collection.travail }}</dd>{% endif %}
                    {% if collection.tri_dibm %}<dt>tri dibm</dt><dd>{{ collection.tri_dibm }}</dd>{% endif %}
                    </dl>
                </div>
            </div>
        {% endblock document_data %}
        </div>
        <h4>Items</h4>
        {% with collection.ordered_items as items %}
            {% include "telemeta/inc/mediaitem_list.html" %}
        {% endwith %}
        </div>
    </div>
{% endblock %}
{% else %}
    <p>No such collection</p>
{% endif %}

