{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block head_title %}{% trans "Collection" %}{{collection|prepend:': '}} - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% url telemeta-timeside "css/timeside.css" %}" />
<link rel="stylesheet" type="text/css" href="{% url telemeta-timeside "skins/lab/style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% url telemeta-css "player.css" %}" />
{% endblock %}
{% block extra_javascript %}
{% endblock %}

{% if collection %}

{% block submenu %}
    <div><a href="{% url telemeta-collection-dublincore collection.public_id %}">Dublin Core</a></div>
{% endblock %}

{% block content %}
    <h3>Collection: {{ collection }}</h3>
        <div class="infos">
        <form method="POST" action="">{% csrf_token %}
        <table>
             {{ form }}
        </table>
        <input type="submit" value="save">
        </form>
        </div>
{% endblock %}
{% else %}
    <p>No such collection</p>
{% endif %}

