{% extends "telemeta/admin.html" %}

{% block tabcontents %}
    <h4>Manage {{ enumeration_name_plural|capfirst }}</h4>

 <form class="mod" id="addenum" method="post"
    action="{% url telemeta-enumeration-record-update enumeration_id,enumeration_record.id %}">
  <fieldset>
   <legend>Modify {{ enumeration_name|capfirst }}</legend>
   <div class="field">
    <label>Value: <input type="text" name="value" value="{{enumeration_record.value}}" /></label>

   </div>
   <div class="buttons">
    <input type="submit" name="save" value="Save">
    <input type="submit" name="cancel" value="Cancel">
   </div>
  </fieldset>
 </form>
  <br style="clear: right"/>

{% endblock %}
