{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block head_title %}{{ country }} - {% trans "Geographic Navigator" %} - {{ block.super }}{% endblock %}

{% block title %}
<img src="{% url telemeta-images "world_red.png" %}" alt="geo-country" style="vertical-align:middle" /> <a href="{% url telemeta-geo-continents %}">{% trans "World" %}</a> /
  <a href="{% url telemeta-geo-countries continent.flatname %}">{{ continent }}</a> / {{ country }}
{% endblock title %}

{% block content %}
{% with object_list as collections %}
<div class="fullpage">
{% include "telemeta/inc/collection_list.html" %}
</div>
{% endwith %}
{% endblock %}
