{% extends "telemeta/base.html" %}
{% load telemeta_utils %}

{% block content %}
<h3>Geographic Navigator</h3>
{% if continents %}
<ul class="continents">
{% for continent in continents %}
  <li class="name"><b><a href="{% url telemeta-geo-countries continent.flatname %}">{{ continent.name }}</a></b>
    <ul>
    {% for country in continent.countries|slice:":10" %}
      <li class="country_name">
        <a href="{% url telemeta-geo-country-collections continent.flatname,country.flatname %}">
          {{ country.name|lower|capfirst }}</a></li>
    {% endfor %}
    {% if continent.countries.10 %}
    <li><a href="{% url telemeta-geo-countries continent.flatname %}">More..</a></li>
    {% endif %}
    </ul>
  </li>
{% endfor %}
</ul>
{% else %}
<p>No data</p>
{% endif %}
{% endblock %}
