{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block head_title %}{{ country }} - {% trans "Geographic Navigator" %} - {{ block.super }}{% endblock %}

{% block title %}
<a href="{% url telemeta-geo-continents %}">{% trans "World" %}</a> /
  <a href="{% url telemeta-geo-countries continent.flatname %}">{{ continent }}</a> 
  / {{ country }}
{% endblock title %}

{% block content %}
{% with object_list as items %}
<div class="fullpage">
{% include "telemeta/inc/mediaitem_list.html" %}
</div>
{% endwith %}
{% endblock %}
