{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block extra_javascript %}
<script src="{% url telemeta-timeside "src/playlist.js" %}" type="text/javascript"></script>
{% endblock %}


{% block content %}

<div class="module-set">

{% block modules %}

   <div id="module" class="module">
    <h3><a href="{% url telemeta-rss %}">
      <img src="{% url telemeta-images "rss.png" %}" style="vertical-align:middle" /></a>
      {% trans "Last changes" %}</h3>
    <table class="listing" bgcolor="#FFFFFF" width="390px">
      <tr>
        <th class="highlight">{% trans "Date" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "User" %}</th>
      </tr>
    {% for r in revisions %}
     <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
        <td>{{ r.revision.time }}</td>
        <td>
        {% if r.revision.element_type == "collection" %}
          <a href="{% url telemeta-collection-detail r.element.public_id %}">{{ r.element.title }}</a>
        {% endif %}
        {% if r.revision.element_type == "item" %}
         {% if r.element %}
          <a href="{% url telemeta-item-detail r.element.public_id %}">
           {% if r.element.title != '' %}{{ r.element.title }}{% else %}{{ r.element.public_id }}{% endif %}
           </a>
         {% else %}
          {{ r.element }}
         {% endif %}
        {% endif %}
        {% if r.revision.element_type == "marker" %}
          <a href="{% url telemeta-item-detail-marker r.element.public_id %}">{{ r.element.title }}</a>
        {% endif %}
        </td>
        <td>{{ r.revision.element_type }}</td>
        <td>{% if r.revision.username %}{{ r.revision.user.username }}{% endif %}</td>
     </tr>
    {% endfor %}
    </table>
   </div>

{% endblock %}
</div>

<div class="home-description">
<h3>{% trans "Playlists" %}</h3> <a href=# style="float:right" class="mediaitem_button mediaitem_button_add" onclick="playlist.add($(this))">
{% trans "Add" %}</a>
  {% for playlist in playlists %}
  <div>
  <h2>{{ playlist.playlist.title }}</h2>
  <a href="{% url telemeta-playlist-csv-export playlist.playlist.public_id %}" style="float:right" class="mediaitem_button mediaitem_button_add">CSV</a>
  <a href="#" id="{{playlist.playlist.public_id}}" onclick="playlist.remove(this.id);return false;" style="float:right" class="mediaitem_button mediaitem_button_cancel"> {% trans "Delete" %}</a>

  
  
  </div>
    <table class="listing" width="90%">
        <tr>
            <th class="highlight">{% trans "Title" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Code" %}</th>
            <th>{% trans "Recordist" %}</th>
            <th>{% trans "Year of recording" %}</th>
            <th>{% trans "Sound" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        
        {% for resource in playlist.resources %}
        <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
            <td>
            {% if resource.type == "item" %}
             <a href="{% url telemeta-item-detail resource.element.public_id %}">{{ resource.element }}</a>
            {% endif %}
            {% if resource.type == "collection" %}
             <a href="{% url telemeta-collection-detail resource.element.public_id %}">{{ resource.element }}</a>
            {% endif %}
            {% if resource.type == "marker" %}
            {{ resource.element }}
            {% endif %}
            </td>
            <td>{{ resource.type }}</td>
            <td>
                {{ resource.element.public_id }}
            </td>
            <td>{{ resource.element.apparent_collector }}</td>
           
            <td>
            {% if resource.element.recorded_from_date %}
                {{ resource.element.recorded_from_date.year }}
                {% if resource.element.recorded_to_date and not resource.element.recorded_to_date.year|equals:resource.element.recorded_from_date.year %}
                    - {{ resource.element.recorded_to_date.year }}
                {% endif %}
            {% endif %}
            </td>
            <td align="center">
                {% if resource.element.file or resource.element.has_mediafile %}
                  <img src="images/ok.png" alt="yes" style="vertical-align:middle" /></a>
                {% endif %}
            </td>
            <td>{% trans "Delete" %}</td>
        </tr>
    {% endfor %}
    </table>
   {% endfor %}
</div>

{% endblock %}

