{% extends "telemeta/index.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block content %}
<div class="home-content">

<div>
<h3>Playlists</h3>
 <form method="POST" action="">{% csrf_token %}
  {% for playlist in playlists %}
  <h2>{{ playlist.name }}</h2>
    <table class="listing" width="75%">
        <tr>
            <th class="highlight">{% trans "Title" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Code" %}</th>
            <th>{% trans "Recordist" %}</th>
            <th>{% trans "Year of recording" %}</th>
            <th>{% trans "Sound" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        
        {% for resource in playlist.resources %}
        <tr>
            <td>
            {% if resource.type == "item" %}
            <a href="{% url telemeta-item-detail resource.element.public_id %}">{{ resource.element }}</a>
            {% endif %}
            {% if resource.type == "collection" %}
            <a href="{% url telemeta-collection-detail resource.element.public_id %}">{{ resource.element }}</a>
            {% endif %}
            {% if resource.type == "marker" %}
            {{ resource.element }}
            {% endif %}
            </td>
            <td>{{ resource.type }}</td>
            <td>
                {{ resource.element.public_id }}
            </td>
            <td>{{ resource.element.apparent_collector }}</td>
           
            <td>
            {% if resource.element.recorded_from_date %}
                {{ resource.element.recorded_from_date.year }}
                {% if resource.element.recorded_to_date and not resource.element.recorded_to_date.year|equals:resource.element.recorded_from_date.year %}
                    - {{ resource.element.recorded_to_date.year }}
                {% endif %}
            {% endif %}
            </td>
            <td>
                {% if resource.element.file or resource.element.has_mediafile %}
                <a href="{% url telemeta-item-detail resource.element.public_id %}">
                <img src="images/text-speak.png" alt="yes" style="vertical-align:middle" /></a>
                {% endif %}
            </td>
            <td>{% trans "Delete" %}</td>
        </tr>
    {% endfor %}
    </table>
   {% endfor %}
 </form>
</div>


<br />
<div>
<h3>Last changes</h3>
    <table class="listing" width="75%">
      <tr>
        <th class="highlight">Date</th>
        <th>Type</th>
        <th>{% trans "Title" %}</th>
        <th>Change type</th>
        <th>User</th>
      </tr>
    {% for r in revisions %}
     <tr>
        <td>{{ r.revision.time }}</td>
        <td>{{ r.revision.element_type }}</td>
        <td>
        {% if r.revision.element_type == "collection" %}
          <a href="{% url telemeta-collection-detail r.element.public_id %}">{{ r.element.title }}</a>
        {% endif %}
        {% if r.revision.element_type == "item" %}
         {% if r.element %}
          <a href="{% url telemeta-item-detail r.element.public_id %}">{{ r.element.title }}</a>
         {% else %}
          {{ r.element }}
         {% endif %}
        {% endif %}
        {% if r.revision.element_type == "marker" %}
          {{ r.element.title }}
        {% endif %}
        </td>
        <td>
        {% if r.element %}
         {{ r.revision.change_type }}
        {% endif %}
         </td>
         <td>{{ r.revision.user.username }}</td>
     </tr>
    {% endfor %}
    </table>
</div>

</div>
{% endblock %}

