{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block content %}
<div class="home-content">

<div class="module-set">

{% block modules %}
<div id="module" class="module">
    <table><tr>
    <td><img src="{% url telemeta-images "module_world.png" %}"></td>
    <td><h3>{% trans "Geo Navigator" %}</h3></td>
    </tr></table>
    <a class="image-link" href="{% url telemeta-geo-continents %}">
    <img class="map-thumbnail" src="{% url telemeta-images "map_thumbnail.png" %}" alt="{% trans "Open the geographic navigator" %}" /></a>
</div>

{% endblock %}

</div>

<div class="home-description">
{{ page_content|render_flatpage }}
</div>
</div>
{% endblock %}
