{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block content %}
<div class="home-content">
<div id="module-set">

{% block modules %}
<div class="module">
    <h3><img src="{% url telemeta-images "module_world.png" %}" alt="world" style="vertical-align:middle" />
    {% trans "Geo Navigator" %}</h3>
    <a class="image-link" href="{% url telemeta-geo-continents %}">
    <img class="map-thumbnail" src="{% url telemeta-images "map_thumbnail.png" %}" alt="{% trans "Open the geographic navigator" %}" /></a>
</div>

<div id="module" class="module">
    <h3><img src="{% url telemeta-images "module_playlist.png" %}" alt="playlist" style="vertical-align:middle" />
    {% trans "Musical selection" %}</h3>
    <ul class="playlist">
    {% for item in items %}
    <li>
        <a href="{% url telemeta-item-detail item.public_id %}"><b>{{item}}</b></a>
        <br />
        <span class="info">{{item.computed_duration}} {{item.apparent_collector|prepend:' - '}} - {{item.country_or_continent}}</span>
    </li>
    {% endfor %}
    </ul>
</div>

{% include "telemeta/inc/module_revisions.html" %}

{% endblock %}
</div>

<div class="home-description">
<img class="align-left" src="{% url telemeta-images "vox.png" %}" alt="vox" style="vertical-align:middle;" />
{{ page_content|render_flatpage }}
</div>

</div>
{% endblock %}
