{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block content %}
<div class="home-content">

<div class="module-set">

{% block modules %}
<div class="module">
    <h3>{% trans "Geographic Navigator" %}</h3>
    <a class="image-link" href="{% url telemeta-geo-continents %}">
    <img class="map-thumbnail" src="{% url telemeta-images "map_thumbnail.png" %}" alt="{% trans "Open the geographic navigator" %}" /></a>
</div>
<div class="module">
    <h3>{% trans "Musical selection" %}</h3>
    <ul class="playlist">
    {% for item in items %}
    <li>
        <a href="{% url telemeta-item-detail item.public_id %}"><b>{{item}}</b></a>
        <br />
        <span class="info">{{item.apparent_collector|prepend:' - '}} - {{item.country_or_continent}}</span>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

</div>

<div class="home-description">
{{ page_content|render_flatpage }}
</div>
</div>
{% endblock %}
