{% extends "telemeta/base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "User authentication" %}</h3>

{% if form.errors %}
<p class="login-error">{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<form class="login" id="_loginForm" method="post" action="{% url telemeta-login %}">{% csrf_token %}
<p>
{{ form.username.label_tag }}
{{ form.username }}<br />

{{ form.password.label_tag }}
{{ form.password }}

</p>
<a href="#" class="mediaitem_button mediaitem_button_login"
                onclick="document.getElementById('_loginForm').submit(); return false;">{% trans "Sign in" %}</a>
<!--<input class="submit" type="submit" value="{% trans "Sign in" %}"/>-->
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
