{% extends "telemeta/mediaitem.html" %}
{% load telemeta_utils %}
{% load i18n %}


{% block title %}
<img src="images/item.png" style="vertical-align:middle" /> Item : {{ item }}
{% endblock %}
{% block title_buttons %}
    <div class="fixedWidthAsPlayer">
      {% if user.is_authenticated and perms.telemeta.change_mediaitem %}
            <a href="{% url telemeta-item-edit item.public_id %}" class="component_icon button icon_edit">{% trans "Edit" %}</a>
            <a href="{% url telemeta-item-copy item.public_id %}" class="component_icon button icon_copy">{% trans "Copy" %}</a>
      {% endif %}
      {% if user.is_authenticated %}
            <a id="_add_to_playlist" href='#' class="component_icon button icon_add">{% trans "Add to playlist" %}</a>
      {% endif %}
      <a href="{% url telemeta-item-detail previous %}" class="component_icon button icon_previous">{% trans "Previous" %}</a>
      <a href="{% url telemeta-item-detail next %}" class="component_icon button icon_next">{% trans "Next" %}</a>
      <a href="{% url telemeta-item-dublincore item.public_id %}" class="component_icon button icon_dublin_core">Dublin Core</a>
      </div>
{% endblock %}
