{% extends "telemeta/base.html" %}
{% load i18n %}
{% load telemeta_utils %}

{% block head_title %}{% trans "Media Items" %} - {{ block.super }}{% endblock %}

{% block title %}
 <img src="{% url telemeta-images "item.png" %}" alt="item" style="vertical-align:middle" /> {% trans "Media Items" %}
{% endblock %}

{% block title_buttons %}
    <a href="{% url telemeta-items %}" class="component_icon button icon_filter">{% trans "All" %}</a>
    <a href="{% url telemeta-items-sound %}" class="component_icon button icon_filter">{% trans "Sounds" %}</a>
    {% if user.is_authenticated and perms.telemeta.add_mediaitem %}
      <a href="{% url telemeta-item-add %}" class="component_icon button icon_add">{% trans "Add" %}</a>
    {% endif %}
{% endblock %}

{% block content %}
{% with object_list as items %}
<div class="fullpage">
{% include "telemeta/inc/mediaitem_list.html" %}
</div>
{% endwith %}
{% endblock %}
