{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block head_title %}{% trans "Item" %}- {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% url telemeta-timeside "css/timeside.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% url telemeta-timeside "skins/lab/style.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% url telemeta-css "player.css" %}" />
      {% endblock %}

      {% block extra_javascript %}
      <!--<script src="{% url telemeta-js "wz_jsgraphics.js" %}" type="text/javascript"></script>-->
<script src="{% url telemeta-js "soundmanager2.js" %}" type="text/javascript"></script>
<script src="{% url telemeta-timeside "src/playlist.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    soundManager.url = '{% url telemeta-swf "./" %}';
    soundManager.flashVersion = 9;
    soundManager.useMovieStar = true; // enable MP4/M4A/AAC
    soundManager.debugMode = false;
    soundManager.allowPolling = true;

    var setupPlaylist = function(){
        {% if user.is_authenticated %}
        var p = playlistUtils;
        {% for playlist in playlists %}
        p.addPlaylist('{{ playlist.playlist.title }}','{{playlist.playlist.public_id}}');
        {% endfor %}

        {% endif %}
        {% if item %}
        var anchor = jQuery('#_add_to_playlist');
        if(anchor.length){
            anchor.click(function(evtObj_){
                p.showPopupAddToPlaylist(evtObj_,'item','{{item.public_id}}','item added to selected playlist');return false;
            });
        }
        {% endif %}
    };
    
    {% if item %}
    var ITEM_PUBLIC_ID = '{{item.public_id}}';
    {% endif %}

    var scripts = ["{% url telemeta-js "wz_jsgraphics.js" %}",
        //"{% url telemeta-timeside "src/playlist.js" %}",
        "{% url telemeta-timeside "src/timeside.js" %}","{% url telemeta-js "playerUtils.js" %}"];

    var _sound_manager_loaded=false;
    var _jQuery_loaded = false;

    jQuery(document).ready(function(){
        _jQuery_loaded=true;
        if(_sound_manager_loaded){
            loadScripts(scripts, function(){loadPlayer('{% url telemeta-item-analyze-xml item.public_id %}',$('.ts-wave a').attr('href'));setupPlaylist()});
        }
    });
    //$('.ts-wave a').attr('href')
    soundManager.onready(function() {
        _sound_manager_loaded=true;
        if(_jQuery_loaded){
            loadScripts(scripts, function(){loadPlayer('{% url telemeta-item-analyze-xml item.public_id %}',$('.ts-wave a').attr('href'));setupPlaylist()});
        }
    });
    
</script>
<!--item.approx_duration-->

{% endblock %}


{% if item %}

{% block title %}
{% endblock %}
{% block title_buttons %}
{% endblock %}

{% block content %}
<!--<div id="div_title" style="padding-bottom:2ex;padding-right:362px"><h3><img src="images/item.png" style="vertical-align:middle" /> Item : {{ item }}</h3></div>-->

<div class="{% if item.file %}{% if item.public_access == 'full' or public_access or user.is_staff %}with-rightcol{% endif %}{% endif %}">
    {% if item.file %}
    {% if public_access or user.is_staff %}
    <div id="player_maximized" class="ts-skin-lab">
        <a href="#" class="toggle">Minimize</a>
        <div class="wazing"></div>
    </div>
    <div id="rightcol">
        <div id="player_minimized" class="ts-skin-lab">
            <a href="#" class="toggle">Maximize</a>
            <div class="wazing"></div>
            <div id="player" class="ts-player">
                <div class="ts-viewer">
                    <div class="ts-wave">
                        <div class="ts-image-container">
                            <a href="{% url telemeta-item-export item.public_id,"mp3" %}">
                               <img class="ts-image" src="{% url telemeta-item-visualize item.public_id,visualizer_id,360,130 %}"
                                 alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item_visualization" id="item_visualization_id">
            <form id="visualizer_id_form" method="get" action="#">
                <img src="images/plots.png" style="vertical-align:middle" />&nbsp;Visualization :
                <select id="visualizer_id" name="visualizer_id">
                    {% for v in visualizers %}
                    <option value="{% url telemeta-item-visualize item.public_id,v.id,"WIDTH","HEIGHT" %}">
                            {{v.name}}</option>
                    {% endfor %}
                </select>
                <input style="visibility: hidden;" type="submit" value="Set" />
            </form>

            <!--
                    <form method="get" action="#">
                        <p>&nbsp;Vamp plugin analysis</p>
                        <select name="vamp_id">
                        {% for plugin in vamp_plugins %}
                        <option value="{{ plugin }}" {% ifequal plugin vamp_id %} selected="selected" {% endifequal %}>
                        {{ plugin }}</option>
                        {% endfor %}
                        </select>
                        <input type="submit" value="Get" />
                    </form>
            -->
        </div>

        <div id="tabs_container">
            <!-- this div will be hidden when everything is fully loaded-->
            <span id="loading_span" href="#"><img style="vertical-align:middle" src="/images/wait.gif"/>&nbsp;
                <span id="loading_span_text">Loading...</span></span>
            <a id="tab_analysis" style="display:none" name ="analyzer_div_id" href="#">{% trans "Analysis" %}</a>
            <a id="tab_markers" style="display:none" name="markers_div_id" href="#">{% trans "Markers" %}</a>
        </div>

        <div class="markers" id="markers_div_id"></div>

        <div class="analyzer" id="analyzer_div_id">
            <table width="100%">
                <tr class="analyzer-title">
                    <td>{% trans "Property" %}</td>
                    <td>{% trans "Value" %}</td>
                    <td>{% trans "Unit" %}</td>
                </tr>
               <!-- {% for analyser in analysers %}
                <tr class="analyzer-line">
                    <td>
                        {{ analyser.name }}
                    </td>
                    <td>
                        {{ analyser.value }}
                    </td>
                    <td>
                        {{ analyser.unit }}
                    </td>
                </tr>
                {% endfor %}-->
            </table>
        </div>
        <!--</div>-->

        {% if audio_export_enabled %}
        <div class="exporter">
            <p><img src="images/download.png" style="vertical-align:middle" /> {% trans "Download:" %}
                {% for format in export_formats %}
                <a href="{% url telemeta-item-export item.public_id,format.extension %}">
                    <img src="images/{{ format.extension }}.png" style="vertical-align:middle" alt="{{ format.extension }}" /></a>
                {% endfor %}</p>
        </div>
        {% endif %}

    </div>
    {% endif %}
    {% endif %}

    {% block infos %}
    <div class="infos">
        {% block general_info %}
        <dl class="listing">
            {% dl_field item "title" %}
            {% dl_field item "alt_title" %}
            {% dl_field item "collector" %}
            <dt>{% field_label item "collection" %}</dt>
            <dd><a href="{% url telemeta-collection-detail item.collection.public_id %}">{{ item.collection }}</a></dd>
            {% if item.recorded_from_date %}
            <dt>{% trans "Recording date" %}</dt>
            <dd>{{ item.recorded_from_date }} {{ item.recorded_to_date|prepend:" - "  }}</dd>
            {% endif %}
        </dl>
        {% endblock general_info %}
    </div>
    <div class="extraInfos">
        {% block geoethnic_data %}
        <div>
            <h4><a href="#">{% trans "Geographic and cultural informations" %}</a></h4>
            <dl class="listing">
                {% if item.location %}
                <dt>{% trans "Location" %}</dt>
                <dd>{{ item.location.fullnames|join:"<br/>" }}</dd>
                {% endif %}
                {% dl_field item "location_comment" %}
                {% dl_field item "cultural_area" %}
                {% dl_field item "ethnic_group" %}
                {% dl_field item "context_comment" %}
                {% dl_field item "keywords" join with ", " %}
            </dl>
        </div>
        {% endblock geoethnic_data %}
    </div>
    <div class="extraInfos">
        {% block musical_data %}
        <div>
            <h4><a href="#">{% trans "Musical informations" %}</a></h4>
            <dl class="listing">
                {% dl_field item "vernacular_style" %}
                {% dl_field item "generic_style" %}
                {% dl_field item "author" %}
            </dl>
            {% if item.performances %}
            <div class="instruments">
                <table class="instruments">
                    <thead>
                        <tr>
                            <td>{% field_label "MediaItemPerformance" "instruments_num" %}</td>
                            <td>{% field_label "MediaItemPerformance" "instrument" %}</td>
                            <td>{% field_label "MediaItemPerformance" "alias" %}</td>
                            <td>{% field_label "MediaItemPerformance" "musicians" %}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for performance in item.performances.all %}
                        <tr>
                            <td>{{ performance.instruments_num }}</td>
                            <td>{{ performance.instrument|default:"" }}</td>
                            <td>{{ performance.alias|default:"" }}</td>
                            <td>{{ performance.musicians }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endblock musical_data %}
    </div>
    <div class="extraInfos">
        {% block general_data %}
        <div>
            <h4><a href="#">{% trans "General informations" %}</a></h4>
            <dl class="listing">
                {% dl_field item "comment" %}
                {% dl_field item "collector_selection" %}
            </dl>
        </div>
        {% endblock general_data %}
    </div>
    <div class="extraInfos">
        {% block archive_data %}
        <div>
            <h4><a href="#">{% trans "Archiving data" %}</a></h4>
            <dl class="listing">
                {% dl_field item "code" %}
                {% dl_field item "old_code" %}
                {% dl_field item "track" %}
                {% dl_field item "creator_reference" %}
                {% dl_field item "external_references" %}
                {% dl_field item "public_access_label" %}
            </dl>
        </div>
        {% endblock archive_data %}
    </div>
    <div class="extraInfos">
        {% block technical_data %}
        <div>
            <h4><a href="#">{% trans "Technical data" %}</a></h4>
            <div>
                <dl class="listing">
                    <dt>{% trans "Media type" %}</dt><dd>{% trans "Audio" %}</dd>
                    {% dl_field item "approx_duration" %}
                </dl>
            </div>
        </div>
        {% endblock technical_data %}
    </div>
    {% endblock infos %}
</div> <!-- with-rightcol -->
{% endblock %}
{% else %}
<p>No such item</p>
{% endif %}
