{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block head_title %}{% trans "Item" %}- {{ block.super }}{% endblock %}


{% if item %}
{% block submenu %}
<div>
    {% if perms.telemeta.add_mediaitem %}
    {% block tools %}
      <a href="{% url telemeta-items %}"
           class="roundBorder6 mediaitem_button mediaitem_button_cancel">{% trans "Cancel" %}</a>
    {% endblock tools %}
    
    {% endif %}
</div>
{% endblock %}

{% block content %}
<h3><img src="images/item.png" style="vertical-align:middle" /> Item : NEW</h3>

    {% block infos %}
    <div class="infos">
     <form method="POST" id="_addItemForm" action="" enctype="multipart/form-data">{% csrf_token %}
       <table>
       {% for field in form %}
        {% if not field.html_name == "copied_from_item" %}
        <tr>
            <tr><td class="error">{{ field.errors }}</td></tr>
            <td>{{ field.label_tag }}:</td><td> {{ field }}</td>
        </tr>
        {% endif %}
       {% endfor %}
       </table>
       <div align="center">
        <a href="{% url telemeta-items %}"
           class="mediaitem_button mediaitem_button_cancel">{% trans "Cancel" %}</a>
        <a href="#" class="mediaitem_button mediaitem_button_save"
   onclick="document.getElementById('_addItemForm').submit(); return false;">{% trans "Save" %}</a>
       </div>
     </form>
    </div>
  {% endblock infos %}
</div> <!-- with-rightcol -->
{% endblock %}
{% else %}
<p>No such item</p>
{% endif %}
