{% extends "telemeta/base.html" %}
{% load i18n %}
{% load telemeta_utils %}

{% block head_title %}{% trans "Media Items" %} - {{ block.super }}{% endblock %}


{% block submenu %}
    <div class="buttons">  
    {% if user.is_authenticated and perms.telemeta.add_mediaitem %}
      <a href="{% url telemeta-item-add %}" class="mediaitem_button mediaitem_button_add">{% trans "Add" %}</a>
    {% endif %}
    </div>
{% endblock %}

{% block content %}
<h3>{% trans "Media Items" %}</h3>
{% with object_list as items %}
<div class="fullpage">
{% include "telemeta/inc/mediaitem_list.html" %}
</div>
{% endwith %}

{% endblock %}
