<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>
{% load i18n %}
{% load telemeta_utils %}

<title>{%block head_title %}{% organization %} - Telemeta - {% trans "Item" %} : {{ item.title }}{% endblock%}</title>

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% url telemeta-css "telemeta.css" %}" />
<link rel="stylesheet" type="text/css" href="{% url telemeta-timeside "css/timeside.css" %}" />
<link rel="stylesheet" type="text/css" href="{% url telemeta-timeside "skins/lab/style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% url telemeta-css "player.css" %}" />
{% endblock %}

<script src="{% url telemeta-js "jquery.js" %}" type="text/javascript"></script>
<script src="{% url telemeta-js "application.js" %}" type="text/javascript"></script>

{% block extra_javascript %}
<script src="{% url telemeta-js "soundmanager2.js" %}" type="text/javascript"></script>
<script src="{% url telemeta-timeside "src/playlist.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    soundManager.url = '{% url telemeta-swf "./" %}';
    soundManager.flashVersion = 9;
    soundManager.useMovieStar = true; // enable MP4/M4A/AAC
    soundManager.debugMode = false;
    soundManager.allowPolling = true;

    var setupPlaylist = function(){
        {% if user.is_authenticated %}
        var p = playlistUtils;
        {% for playlist in playlists %}
        p.addPlaylist('{{ playlist.playlist.title }}','{{playlist.playlist.public_id}}');
        {% endfor %}

        {% endif %}
        {% if item %}
        var anchor = jQuery('#_add_to_playlist');
        if(anchor.length){
            anchor.click(function(evtObj_){
                p.showPopupAddToPlaylist(evtObj_,'item','{{item.public_id}}','item added to selected playlist');return false;
            });
        }
        {% endif %}
    };

    {% if item %}
    var ITEM_PUBLIC_ID = '{{item.public_id}}';
    {% endif %}

    var scripts = ["{% url telemeta-js "wz_jsgraphics.js" %}",
        //"{% url telemeta-timeside "src/playlist.js" %}",
        "{% url telemeta-timeside "src/timeside.js" %}","{% url telemeta-js "playerUtils.js" %}"];

    var _sound_manager_loaded=false;
    var _jQuery_loaded = false;

    jQuery(document).ready(function(){
        _jQuery_loaded=true;
        if(_sound_manager_loaded){
            loadScripts(scripts, function(){loadPlayer('{% url telemeta-item-analyze-xml item.public_id %}',$('.ts-wave a').attr('href'));setupPlaylist()});
        }
    });
    //$('.ts-wave a').attr('href')
    soundManager.onready(function() {
        _sound_manager_loaded=true;
        if(_jQuery_loaded){
            loadScripts(scripts, function(){loadPlayer('{% url telemeta-item-analyze-xml item.public_id %}',$('.ts-wave a').attr('href'));setupPlaylist()});
        }
    });

</script>
{% endblock %}

{% if user.is_authenticated and perms.telemeta.change_mediaitem %}
    <script type='text/javascript'>var CURRENT_USER_NAME="{{ user.username }}";</script>
{% else %}
    <script type='text/javascript'>var CURRENT_USER_NAME=undefined;</script>
{% endif %}

</head>

<body>

{% block content %}

<div>
{% if item.file %}
    {% if public_access or user.is_staff %}
    <div id="player_maximized" class="ts-skin-lab">
        <a href="#" class="toggle">Minimize</a>
        <div class="wazing"></div>
    </div>
    <div id="rightcol" style="float: left;">
        <div id="player_minimized" class="ts-skin-lab">
            
            <div class="wazing"></div>
            <div id="player" class="ts-player">
                <div class="ts-viewer">
                    <div class="ts-wave">
                        <div class="ts-image-container">
                            <a href="{% url telemeta-item-export item.public_id,"mp3" %}">
                               <img class="ts-image" src="{% url telemeta-item-visualize item.public_id,visualizer_id,360,130 %}"
                                 alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item_visualization" id="item_visualization_id">
            <form id="visualizer_id_form" method="get" action="#">
                <img src="images/plots.png" style="vertical-align:middle" />&nbsp;Visualization :
                <select id="visualizer_id" name="visualizer_id">
                    {% for v in visualizers %}
                    <option value="{% url telemeta-item-visualize item.public_id,v.id,"WIDTH","HEIGHT" %}">
                            {{v.name}}</option>
                    {% endfor %}
                </select>
                <input style="visibility: hidden;" type="submit" value="Set" />
            </form>
        </div>

        <div id="tabs_container">
            <!-- this div will be hidden when everything is fully loaded-->
            <span id="loading_span" href="#"><img style="vertical-align:middle" src="/images/wait.gif"/>&nbsp;
                <span id="loading_span_text">Loading...</span></span>
            <a id="tab_analysis" style="display:none" name ="analyzer_div_id" href="#">{% trans "Analysis" %}</a>
            <a id="tab_markers" style="display:none" name="markers_div_id" href="#">{% trans "Markers" %}</a>
        </div>

        <div class="markers" id="markers_div_id"></div>

        <div class="analyzer" id="analyzer_div_id">
            <table width="100%">
                <tr class="analyzer-title">
                    <td>{% trans "Property" %}</td>
                    <td>{% trans "Value" %}</td>
                    <td>{% trans "Unit" %}</td>
                </tr>
               <!-- {% for analyser in analysers %}
                <tr class="analyzer-line">
                    <td>
                        {{ analyser.name }}
                    </td>
                    <td>
                        {{ analyser.value }}
                    </td>
                    <td>
                        {{ analyser.unit }}
                    </td>
                </tr>
                {% endfor %}-->
            </table>
        </div>
        <!--</div>-->

        {% if audio_export_enabled %}
        <div class="exporter">
            <p><img src="images/download.png" style="vertical-align:middle" /> {% trans "Download:" %}
                {% for format in export_formats %}
                <a href="{% url telemeta-item-export item.public_id,format.extension %}">
                    <img src="images/{{ format.extension }}.png" style="vertical-align:middle" alt="{{ format.extension }}" /></a>
                {% endfor %}</p>
        </div>
        {% endif %}

    </div>
    {% endif %}
    {% endif %}

</div>

{% endblock %}

</body>
</html>