{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block head_title %}{% trans "Item" %}{{item|prepend:': '}} - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% url telemeta-timeside "css/timeside.css" %}" />
<link rel="stylesheet" type="text/css" href="{% url telemeta-timeside "skins/lab/style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% url telemeta-css "player.css" %}" />
{% endblock %}
{% block extra_javascript %}


{% endblock %}

{% if item %}
{% block submenu %}
    <div>
    <a href="{% url telemeta-item-dublincore item.public_id %}">Dublin Core</a>
    </div>
{% endblock %}

{% block content %}

<h3>Item : {{ item }}</h3>

<div class="infos">
<form method="POST" action="">{% csrf_token %}
     {{ formset }}
<button type="submit">SAVE</button>
</form>
</div>


{% endblock %}
{% else %}
    <p>No such item</p>
{% endif %}
