{% extends "telemeta/base.html" %}
{% load i18n %}
{% load telemeta_utils %}

{% block head_title %}{% trans "User Profile" %} : {{ usr.username }}{% endblock %}



{% block content %}
  <div class="module-set" style="width: 33%">
  {% block modules %}
  <div id="module" class="module">
    <h3><img src="{% url telemeta-images "module_playlist.png" %}" style="vertical-align:middle" />
    {% trans "Playlists" %}</h3>
    <ul class="playlist">
    {% for p in playlists %}
    <li>
        <b>{{ p.playlist.title }}</b>
        <br />
        <span class="info">{{ p.playlist.description }}</span>
    </li>
    {% endfor %}
    </ul>
   </div>
  {% endblock %}
  </div>

  <h3>{% trans "User profile" %} : {{ usr.username }}</h3>
{% if user.is_authenticated %}
      <a href="{% url telemeta-profile-edit usr.username %}" class="component_icon button icon_edit" style="float:right">{% trans "Edit" %}</a>
     {% endif %}
    <div class="infos" style="padding-top: 1em;">
     <dl class="listing">
      <dt>{% trans "First Name" %}</dt><dd>{{ usr.first_name }}</dd>
      <dt>{% trans "Last Name" %}</dt><dd>{{ usr.last_name }}</dd>
      <dt>{% trans "Email" %}</dt><dd>{{ usr.email }}</dd>
      
      <dt>{% trans "Institution" %}</dt><dd>{% if profile %}{{ profile.institution }}{% endif %}</dd>
      <dt>{% trans "Function" %}</dt><dd>{% if profile %}{{ profile.function }}{% endif %}</dd>
      <dt>{% trans "Address" %}</dt><dd>{% if profile %}{{ profile.address }}{% endif %}</dd>
      <dt>{% trans "Telephone" %}</dt><dd>{% if profile %}{{ profile.telephone }}{% endif %}</dd>
      <dt>{% trans "Expiration date" %}</dt><dd>{% if profile %}{{ profile.expiration_date }}{% endif %}</dd>
      
      <dt>{% trans "Is staff" %}</dt><dd>{{ usr.is_staff }}</dd>
      <dt>{% trans "Is superuser" %}</dt><dd>{{ usr.is_superuser }}</dd>
      <dt>{% trans "Last login" %}</dt><dd>{{ usr.last_login }}</dd>
     </dl>
    </div>
    <a href="{% url telemeta-password-change %}" class="component_icon button icon_login" style="float:left">{% trans "Change password" %}</a>
   </div>
{% endblock %}

