{% extends "telemeta/profile_detail.html" %}
{% load i18n %}
{% load telemeta_utils %}

{% block tools %}
     <a href="{% url telemeta-profile-detail usr.username %}" class="component_icon button icon_cancel">{% trans "Cancel" %}</a>
{% endblock %}

{% block content %}
       <h3>{% trans "User profile" %} : {{ usr.username }}</h3>
       <div class="infos" style="padding-top: 1em;">
        <form method="POST" id="_editUserProfileForm" action="">{% csrf_token %}
       <table>
       {% for field in form %}
       {% if field.html_name != "user" %}
        <tr>
            <tr><td class="error">{{ field.errors }}</td></tr>
            <td>{{ field.label_tag }}:</td><td> {{ field }}</td>
        </tr>
        {% else %}
        <tr style="display:none;">
          <td>{{ field.label_tag }}:</td><td> {{ field }}</td>
        </tr>
        {% endif %}
       {% endfor %}
       </table>
        <div align="center">
         <a href="{% url telemeta-profile-detail usr.username %}" class="component_icon button icon_cancel">{% trans "Cancel" %}</a>
         <a href="#" class="component_icon button icon_save"
   onclick="document.getElementById('_editUserProfileForm').submit(); return false;">{% trans "Save" %}</a>
        </div>
        </form>
        </div>
{% endblock %}
