<link rel="stylesheet" type="text/css" href="style/nav.css" />

<h2>{{ collection.title }}</h2>

{% for item in items %}
<div class="item">
  <h3>
  <b>Son {{ item.old_code }}</b> : {{ item.title }}. {{ item.comment }} ({{ item.track }})
  </h3>

  <div class="item-audio">
   <audio class="item-player" src="{{ item.file }}" controls="controls"></audio>
  </div>

  {% for image in item.related.all %}
    {% if 'image' in image.mime_type %}
       <div class="item-image">
        <img src="{{ image.file }}"/>
       </div>
    {% endif %}
   {% endfor %}

</div>
{% endfor %}
