{% load telemeta_utils %}
{% load i18n %}
{% if items %}

{% if hits %}
<p class="pagination">
{% blocktrans %}Items {{ first_on_page }} to {{ last_on_page }} on {{ hits }}{% endblocktrans %}
| Pages : {% if pages == 1 %}1{% else %}{% if is_paginated %}{% load paginator %}{% paginator 5 %}{% endif %}{% endif %}
</p>
{% endif %}

<table class="listing">
<tr>
    <th class="highlight">{% trans "Title" %}</th>
    <th>{% trans "Code" %}</th>
    <th>{% trans "Recordist" %}</th>
    {% if location_name %}
    <th>{% trans "Location" %}</th>
    {% else %}
    <th>{% trans "Country/Continent" %}</th>
    {% endif %}
    <th>{% trans "Year of recording" %}</th>
    <th>{% trans "Sound" %}</th>
</tr>
{% for item in items %}
<tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
    <td class="highlight">
        <a href="{% url telemeta-item-detail item.public_id %}">{{ item }}</a>
    </td>
    <td>
        {{ item.code|default:item.old_code }}
    </td>
    <td>{{ item.apparent_collector }}</td>
    {% if location_name %}
    <td>{{ item.location.name }}</td>
    {% else %}
    <td>{{ item.country_or_continent|default:'&nbsp;' }}</td>
    {% endif %}
    <td>
    {% if item.recorded_from_date %}
        {{ item.recorded_from_date.year }}
        {% if item.recorded_to_date and not item.recorded_to_date.year|equals:item.recorded_from_date.year %}
            - {{ item.recorded_to_date.year }}
        {% endif %}
    {% endif %}
    </td>
    <td align="center">
        {% if item.file %}
         <a href="{% url telemeta-item-detail item.public_id %}">
          <img src="images/ok.png" alt="yes" style="vertical-align:middle" /></a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>

{% else %}
    <p>{% trans "No item" %}</p>
{% endif %}

