{% load telemeta_utils %}
{% load i18n %}

{% if object_list %}

<table class="listing">
<tr>
    <th class="highlight" width="15%">{% trans "Title" %}</th>
    <th>{% trans "Description" %}</th>
    <th width="15%">{% trans "Code" %}</th>
    <th width="5%">{% trans "Sound" %}</th>
</tr>
{% for resource in object_list %}
<tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
    <td class="highlight">
        <a href="{% url "telemeta-resource-detail" type resource.public_id %}">{{ resource.title }}</a>
    </td>
    <td>{{ resource.descriptions }}</td>
    <td>{{ resource.code }}</td>
    <td>{% if resource.has_mediafile %}
       <img src="{{ STATIC_URL }}telemeta/images/ok.png" alt="yes" style="vertical-align:middle" />
      {% endif %}
    </td>
</tr>
{% endfor %}
</table>

{% else %}
    <p>{% trans "No resource" %}</p>
{% endif %}

