<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>Telemeta</title>
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% url telemeta-css "telemeta.css" %}" />
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="{% url telemeta-css "telemeta_ie.css" %}" />
<![endif]-->
<!--[if lte IE 6]>
<link rel="stylesheet"type="text/css" href="{% url telemeta-css "telemeta_ie6.css" %}" />
<![endif]-->
{% endblock %}
{% block extra_javascript %}{% endblock %}
</head>
{% load i18n %}
{% load telemeta_utils %}
<body>
<!--
{% if user.is_authenticated and user.is_staff %}
<div id="user-tools">{% trans 'Welcome,' %} <strong>{% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}</strong>. {% block userlinks %}<a href="doc/">{% trans 'Documentation' %}</a> / <a href="password_change/">{% trans 'Change password' %}</a> / <a href="logout/">{% trans 'Log out' %}</a>{% endblock %}</div>
{% endif %}
-->
<div id="layout">
<div id="header">
<div id="logo">
{% block logo %}
<a href="{% url telemeta-home %}"><img src="{% url telemeta-images "logo.png" %}" alt="" /></a>
{% endblock %}
</div>

<div id="quick_search">
<form action="{% url telemeta-search %}" method="GET">
<input type="text" id="quick_search_pattern" name="pattern" />
<input type="submit" value="Search" />
</form>        
<p><a href="{% url telemeta-search-criteria %}">Advanced search</a></p>
</div>

<div id="menu" class="nav">
<ul>
{# spaces between li and a elements breaks layout #}
<li><a href="{% url telemeta-collections %}">All Collections</a></li><li><a href="{% url telemeta-items %}">All Items</a></li><li class="first"><a href="{% url telemeta-geo-continents %}">Geo Navigator</a></li><li class="last"><a href="{% url telemeta-admin %}">Admin</a></li>
</ul>
</div>
</div>
<div id="submenu">
{% block submenu %}{% endblock %}
</div>

<div id="content">
{% block content %}{% endblock %}
<div class="nett"></div>
</div>

<div id="footer">
 <hr />
 <a id="telemeta_powered" href="{% telemeta_url %}"><img src="{% url telemeta-images "logo_mini.png" %}" height="30" width="93"
   alt="Telemeta Powered"/></a>
 <p class="left">
  Powered by <a href="{% telemeta_url %}"><strong>Telemeta {% telemeta_version %}</strong></a><br />
  By <a href="http://www.parisson.com/">Parisson</a> &amp; <a href="http://www.samalyse.com/">Samalyse</a>.
 </p>

 <p class="right">
  Visit the Telemeta open source project at<br /><a href="{% telemeta_url %}">{% telemeta_url %}</a>
 </p>
</div>
</div>
</body>
</html>
