
{% for item in items %}

<table>
 <tr>
  <td>
    {% for image in item.related.all %}
      {% if 'image' in image.mime_type %}
         <div class="item-image">
          <img width="100" src="{{ image.file }}"/>
         </div>
      {% endif %}
     {% endfor %}

  </td>
  <td width="75">
  <span style="font-size:0.8em;">
  <b>{{ item.old_code }}</b> : {{ item.title }} (p. {{ item.track }})
  </span>
  </td>
 </tr>
</table>

<div class="item-audio">
 <audio src="{{ item.file }}" controls="controls"></audio>
</div>

{% endfor %}
