{% extends "telemeta/collection_detail.html" %}
{% load telemeta_tags %}
{% load i18n %}

{% block content %}

{% with collection|to_dublincore as resource %}
{% include "telemeta/inc/dublincore.html" %}
{% endwith %}

    {% block dublincore %}
    <a href="{% url "telemeta-collection-detail" collection.public_id %}" style="float:left;margin-top:0.5em;margin-bottom:1em">
      <button type="button" class="btn btn-default">
         <span class="glyphicon glyphicon-arrow-left"></span> {% trans "Normal View" %}
      </button>
    </a>
    {% endblock dublincore %}

{% endblock %}

{% block delete %}
{% if user.is_authenticated and perms.telemeta.delete_mediacollection %}

    <a href="#" onclick="if(confirm(gettrans('delete the collection permanently?'))){window.location.href='{% url "telemeta-collection-delete" collection.public_id %}';};return false;" style="float:right;margin-top:0.5em;margin-bottom:1em">
        <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
      </button>
    </a>
{% endif %}
{% endblock %}

