{% extends "telemeta/admin.html" %}
{% load i18n %}

{% block head_title %}{% trans "Enumeration" %} : {{ enumeration_name|capfirst }} - {{ block.super }}{% endblock %}

{% block title %}
    {% if perms.telemeta.change_physicalformat %}
        <h1><img src="{{ STATIC_URL }}telemeta/images/admin_red.png" style="vertical-align:middle" /> <a href="{% url "telemeta-admin-general" %}">{% trans "Administration" %}</a> > <a href="{% url "telemeta-admin-enumerations" %}">{% trans "Enumerations" %}</a></h1>
    {% else %}
            <h1><img src="{{ STATIC_URL }}telemeta/images/collections_red.png" style="vertical-align:middle" /> <a href="{% url "telemeta-admin-enumerations" %}">{% trans "Enumerations" %}</a></h1>
    {% endif %}
{% endblock %}

{% block tabcontents %}
    {% if perms.telemeta.change_physicalformat %}
        <h4>{{ enumeration_name|capfirst }}</h4>
        <form class="addnew" id="_addenum" method="POST"
              action="{% url "telemeta-enumeration-add" enumeration_id %}">{% csrf_token %}
            <fieldset>
                <legend>{% trans "Add entry" %}</legend>
                <div class="field">
                    <label>{% trans "Value" %}: <input id="id_value_add" type="text" name="value"></label>
                    <label>{% trans "Notes" %}: <textarea id="id_notes_edit" name="notes" rows="4" cols="40"></textarea></label>
                </div>
                <div class="buttons">
                    <br />
                    <a href="#" class="component_icon button icon_add"
                       onclick="document.getElementById('_addenum').submit(); return false;">{% trans "Add" %}</a>
                </div>
            </fieldset>
        </form>
    {% endif %}
    {% if enumeration_values %}
        <form id="_updateenum" method="POST" action="{% url "telemeta-enumeration-update" enumeration_id %}">{% csrf_token %}
            <table class="listing">
                <thead>
                <tr><th class="sel">&nbsp;</th><th>{% trans "Value"%}</th>
                    <th>nb{{ enumeration_support }}</th>
                </tr>
                </thead><tbody>
            {% for record in enumeration_values %}
                <tr>
                    {% if perms.telemeta.change_physicalformat %}
                        <td><input type="checkbox" name="sel" value="{{record.id}}" /></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a href="{% url "telemeta-enumeration-record-edit" enumeration_id record.id %}">
                        {{record.value}}</a></td>
                    {% if enumeration_id == "contextkeyword" %}
                        <td><a href="{% url "telemeta-keyword-list-item" enumeration_id record.id %}"> {{ enumeration_count.pop }}</a></td>
                    {% else %}

                        {% if enumeration_support == "Collection" %}
                            <td><a href="{% url "telemeta-enumeration-list-collection" enumeration_id record.id %}"> {{ enumeration_count.pop }}</a></td>
                        {% else %}
                            <td><a href="{% url "telemeta-enumeration-list-item" enumeration_id record.id %}"> {{ enumeration_count.pop }}</a></td>
                        {% endif %}

                    {% endif %}

                </tr>

            {% endfor %}
            </tbody>
            </table>
            <div class="buttons">
                <br />
                {% if perms.telemeta.change_physicalformat %}
                    <a href="#" class="component_icon button icon_cancel"
                       onclick="document.getElementById('_updateenum').submit(); return false;">{% trans "Remove selected items" %}</a>
                {% endif %}
            </div>
        </form>
    {% else %}
        <p class="help">{% trans "This enumeration is empty" %}</p>
    {% endif %}

    <br style="clear: right"/>
{% endblock %}
