{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block content %}
<div class="home-content">
<div id="module-set">

{% block modules %}

{% if sound_pub_item %}
<div id="module" class="module">
    <h3><img src="{% url telemeta-images "module_playlist.png" %}" alt="playlist" style="vertical-align:middle" />
    {% trans "Musical selection" %}</h3>
    <ul class="playlist">
    <li><a href="{% url telemeta-item-detail sound_pub_item.public_id %}"><b>{{ sound_pub_item }}</b></a>{% if sound_pub_item.alt_title %} ({{ sound_pub_item.alt_title }}){% endif %}<br /><span style="font-size: 90%">{{ sound_pub_item.location.fullnames|to_string }}</span><br />
<iframe width='376' height='215' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='/archives/items/{{ sound_pub_item.public_id }}/player/362x130/'></iframe>
    </li>
    </ul>
</div>
{% endif %}

<div class="module">
    <h3><img src="{% url telemeta-images "module_world.png" %}" alt="world" style="vertical-align:middle" />
    {% trans "Geo Navigator" %}</h3>
    <a class="image-link" href="{% url telemeta-geo-continents %}">
    <img class="map-thumbnail" src="{% url telemeta-images "world2.png" %}" alt="{% trans "Open the geographic navigator" %}" style="width:398px" /></a>
</div>

{% with "Last changes" as title %}
{% include "telemeta/inc/module_revisions.html" %}
{% endwith %}

{{ block.super }}
<div id="module" class="module">
    <h3><img src="/images/module_playlist.png" style="vertical-align:middle" />
    Partenaires</h3><br />
    <div style="background-color: white; padding: 1ex;" align="center">
    <a href="http://www.cnrs.fr"><img class="image-link" src="{% url telemeta-images "logo-CNRS.png" %}" alt="CNRS"></a>&nbsp;&nbsp;&nbsp;
    <a href="http://www.culture.gouv.fr"><img class="image-link" src="{% url telemeta-images "logo_mcc_2.png" %}" alt="MCC"></a>&nbsp;&nbsp;
    <a href="http://www.mnhn.fr"><img class="image-link" src="{% url telemeta-images "logo-mnhn.gif" %}" alt="MNHN"></a>
    <br /><br />
    <a href="http://www.tge-adonis.fr"><img class="image-link" src="{% url telemeta-images "logo-adonis.jpg" %}" alt="TGE Adonis"></a>
    </div>
</div>

{% endblock %}

</div>

<div class="home-description">
<img class="align-left" src="{% url telemeta-images "vox.png" %}" alt="vox" style="vertical-align:middle;" />
{{ page_content|render_flatpage }}
</div>

{% if sound_pub_items %}
<div style="margin-top: 1ex;font-size: 90%; width: 66%;">
<div>
<h1><img src="{% url telemeta-images "playlist_title.png" %}" alt="playlists" style="vertical-align:middle" />
    {% trans "Musical selection" %}</h1>
</div>
{% for item in sound_pub_items %}
<div style="float: left; margin: 3px;" align="center"><a href="{% url telemeta-item-detail item.public_id %}">{{ item }}</a>{% if item.alt_title %} ({{ item.alt_title }}){% endif %}<br /><span style="font-size: 80%">{{ item.location.fullnames|to_string }}</span><br />
<iframe width='376' height='220' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='/archives/items/{{ item.public_id }}/player/362x130/'></iframe></div>
{% endfor %}
</div>
{% endif %}

</div>
{% endblock %}
