{% extends "telemeta/mediaitem_detail.html" %}
{% load i18n %}
{% load telemeta_utils %}

{% block title %}
<img src="{{ STATIC_URL }}telemeta/images/item.png" style="vertical-align:middle" /> Item : {{ item }}
{% endblock %}

{% block title_buttons %}
<div class="fixedWidthAsPlayer">
    <a href="{% url telemeta-item-detail item.public_id %}" class="component_icon button icon_cancel">{% trans "Cancel" %}</a>
    {% if perms.telemeta.change_mediaitem %}
    <a href="#" class="component_icon button icon_save" onclick="var d=document; d.getElementById('wait-img').style.display='inline'; setTimeout(function(){d.getElementById('_editItemForm').submit();},300); return false;">{% trans "Save" %}</a>
    {% endif %}
    <img id="wait-img" style="display:none" style="vertical-align:middle" alt="wait" src="{{ STATIC_URL }}telemeta/images/wait.gif" />
</div>
{% endblock %}

{% block infos %}
<div class="infos">
    <form enctype="multipart/form-data" id="_editItemForm" method="post" action="">{% csrf_token %}
    <table>
    {% for form in forms %}
    <tr><td colspan="2">{% for error in form.non_field_errors %}<li class="error">{{ error }}</li>{% endfor %}</td></tr>
    <tr><td colspan="2"><h2>{{ form.prefix|capitalize }}</h2><hr /></td></tr>

    {% for field in form %}
    <tr>
        <tr><td class="error">{{ field.errors }}</td></tr>
        <td>{% if field.blank %}
                <span style="font-weight:bold">{{ field.label_tag }}:</span>
            {% else %}
                {{ field.label_tag }}:
            {% endif %}
            </td>
            {% if field.html_name == "item-collection" %}
            <td>&nbsp;{% trans "Title" %} : {{ item.collection.title }}<br />
                &nbsp;{% trans "Code" %} : {{ item.collection.code }}<br />
                {{ field }}</td>
            {% else %}
            <td>{{ field }}</td>
            {% endif %}
    </tr>
    {% if form.prefix == "item" and forloop.last %}
    <tr>
      <td style="padding-top: 1em">{% trans "Keywords" %}:</td>
      <td style="padding-top: 1em"><a href="{% url telemeta-item-keywords_edit item.public_id %}" class="component_icon button icon_edit">{% trans "Edit" %} {% trans "keywords" %}</a></td>
    </tr>
    <tr>
      <td style="padding-top: 1em">{% trans "Performance" %}:</td>
      <td style="padding-top: 1em"><a href="{% url telemeta-item-performances_edit item.public_id %}" class="component_icon button icon_edit">{% trans "Edit"%} {% trans "performance"%}</a></td>
    </tr>
    <tr>
      <td style="padding-top: 1em">{% trans "Related media" %}:</td>
      <td style="padding-top: 1em"><a href="{% url telemeta-item-related_edit item.public_id %}" class="component_icon button icon_edit">{% trans "Edit"%} {% trans "related media"%}</a></td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </table>
    <hr />
    <div align="center" style="margin-top:3ex;">
    <a href="{% url telemeta-item-detail item.public_id %}" class="component_icon button icon_cancel">{% trans "Cancel" %}</a>
    {% if perms.telemeta.change_mediaitem %}
    <a href="#" class="component_icon button icon_save" onclick="var d=document; d.getElementById('wait-img2').style.display='inline';  setTimeout(function(){d.getElementById('_editItemForm').submit();},300); return false;">{% trans "Save" %}</a>
    {% endif %}
    <img id="wait-img2" style="display:none" style="vertical-align:middle" alt="wait" src="{{ STATIC_URL }}telemeta/images/wait.gif" />
    </div>
    </form>
</div>
{% endblock infos %}

{% block related %}
{% endblock %}

{% block delete %}
{% endblock %}
