{% extends "telemeta/mediaitem_edit.html" %}
{% load telemeta_tags %}
{% load i18n %}

{% block head_title %}{% trans "Item" %}- {{ block.super }}{% endblock %}

{% block title %}
    <img src="{{ STATIC_URL }}telemeta/images/item.png" alt="item" style="vertical-align:middle" /> Item : {% trans "New" %}
{% endblock %}

    {% block cancel %}
    <a id="cancel" href="{% url "telemeta-items" %}">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
      </button>
    </a>
    {% endblock %}

     {% block cancel2 %}
     <a id="cancel" href="{% url "telemeta-items" %}">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
      </button>
     </a>
     {% endblock %}
