{% extends "telemeta/mshs/mediaitem_detail.html" %}
{% load i18n %}
{% load telemeta_tags %}
{% load bootstrap3 %}


{% block title %}
<img src="{{ STATIC_URL }}telemeta/images/item.png" style="vertical-align:middle" /> Item : {{ item }}
{% endblock %}

{% block title_buttons %}
<div class="fixedWidthAsPlayer">
    <img id="wait-img" style="display:none" style="vertical-align:middle" alt="wait" src="{{ STATIC_URL }}telemeta/images/wait.gif" />
    {% block cancel %}
    <a id="cancel" href="{% url "telemeta-item-detail" item.public_id %}">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
      </button>
    </a>
    {% endblock %}
    {% if perms.telemeta.change_mediaitem %}
    <a id="save" href="#" onclick="var d=document; d.getElementById('wait-img').style.display='inline'; $('#_editForm').submit();">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-disk"></span> {% trans "Save" %}
      </button>
    </a>
    {% endif %}
</div>
{% endblock %}

    {% block player %}

    {% if access == 'full' or perms.telemeta.can_play_all_items %}
    <div id="player_maximized" class="ts-skin-lab">
       <div id="player_header">
        <a href="#" class="toggle">Minimize</a>
        <a href="#" class="embed_player_frame">&lt;/&gt;</a>
       </div>
        <div class="wazing"></div>
    </div>
    <div id="rightcol">
        <div id="player_minimized" class="ts-skin-lab">
            <a href="#" class="toggle">Maximize</a>
            <a href="#" class="embed_player_frame">&lt;/&gt;</a>
            <div class="wazing"></div>
            <div id="player" class="ts-player">
            </div>
        </div>

    {% if "video" in mime_type %}
    <div>
    <video id="my_video_1" class="video-js vjs-default-skin" width="362" height="240" controls preload="auto" data-setup="{}">
        <!-- Hello Chrome and Firefox (and Opera?) -->
        <source src="{% url "telemeta-item-export" item.public_id mime_type|mime_to_ext %}" type="{{ mime_type }}" />
        </video>
        <!--<div id="videotime"></div>-->
    </div>
    <script>
    (function(){
        var v = document.getElementsByTagName('video')[0]
        var t = document.getElementById('videotime');
        v.addEventListener('timeupdate',function(event){
            t.innerHTML = v.currentTime;
            },false);
            })();
    </script>
    {% endif %}

    </div>

    {% else %}

    <div id="rightcol">
        <div id="no-sound-access">
            {% trans "You don't have access to the media of this item." %} {% trans "Please contact the administrators to get more rights." %} <a href="{% url "telemeta-flatpage" 'legal_notices' %}" target="_blank">{% trans "Click here" %}</a>
        </div>
    </div>

    {% endif %}

    {% endblock player %}

{% block infos %}
  <div>
    <form id="_editForm" method="post" action="" enctype="multipart/form-data" data-ajax="false">{% csrf_token %}

    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#general" role="tab" data-toggle="tab">{% trans "General" %}</a></li>
      <li><a href="#tab_desc" role="tab" data-toggle="tab">Description</a></li>
      <li><a href="#tab_text" role="tab" data-toggle="tab">Texte</a></li>
      <li><a href="#keyword_relations" role="tab" data-toggle="tab">{% trans "Keywords" %}</a></li>
      <li><a href="#performances" role="tab" data-toggle="tab">{% trans "Performance" %}</a></li>
      <li><a href="#tabs_container" role="tab" data-toggle="tab">{% trans "Markers" %}</a></li>
      <li><a href="#related" role="tab" data-toggle="tab">{% trans "Related media" %}</a></li>
      {% if perms.telemeta.change_mediaitemidentifier %}
      <li><a href="#identifiers" role="tab" data-toggle="tab">{% trans "Identifier" %}</a></li>
      {% endif %}
 <!-- <li><a href="#format" role="tab" data-toggle="tab">{% trans "Format" %}</a></li> -->
    </ul>

    <div class="tab-content">

      <div class="tab-pane fade in active" id="general">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/themes/base/jquery-ui.css"/>
        <script src="{{ STATIC_URL }}jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
        <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
        {{ form.media }}
        <div class="block-grey">
        {% bootstrap_form form exclude=mshs_exclude %}
        {% trans "Collection access status" %} : {% trans item.collection.public_access %}<br />
        {% trans "Context access status" %} : {% trans access %}<br />
        </div>
        <script>
             function autocompletion(champ) {
                $("#id_"+champ).autocomplete({
                    source: "/search/autocompletemshs/?attr="+champ,
                    select: function (event, ui) {
                        var selectedObj = ui.item;
                    },
                    minLength: 1,
                });
              }
        </script>
      </div>
       
       <!--  Tab Analyze, for MSHS  -->
       <div class="tab-pane" id="tab_desc">
           <div class="block-grey">
                    <!-- display fields for a description -->
                    {% bootstrap_field  form.mshs_author %}
                    {% bootstrap_field  form.mshs_composer %}
                    {% bootstrap_field  form.mshs_timbre %}
                    {% bootstrap_field  form.mshs_timbre_ref %}
                    {% bootstrap_field  form.mshs_timbre_code %}
                    {% bootstrap_field  form.mshs_alt_title %}
                    {% bootstrap_field  form.mshs_melody %}
                    {% bootstrap_field  form.mshs_domain_song %}
                    {% bootstrap_field  form.mshs_domain_vocal %}
                    {% bootstrap_field  form.mshs_domain_music %}
                    {% bootstrap_field  form.mshs_domain_tale %}
                    {% bootstrap_field  form.mshs_details %}
                    {% bootstrap_field  form.mshs_function %}
                    {% bootstrap_field  form.mshs_dance %}
                    {% bootstrap_field  form.mshs_dance_details %}
            </div>
            <div class="block-grey">
                    <h2>Témoignage</h2>
                    <!-- display fields for a deposition -->
                    {% bootstrap_field  form.mshs_deposit_digest %}
                    {% bootstrap_field  form.mshs_deposit_thematic %}
                    {% bootstrap_field  form.mshs_deposit_names %}
                    {% bootstrap_field  form.mshs_deposit_places %}
                    {% bootstrap_field  form.mshs_deposit_periods %}
            </div>
        </div>
        <div class="tab-pane" id="tab_text">
           <div class="block-grey">
               <!-- display fields for all textual information -->
               {% bootstrap_field  form.mshs_text_bool %}
               {% bootstrap_field  form.mshs_text %}
               {% bootstrap_field  form.mshs_incipit %}
               {% bootstrap_field  form.mshs_refrain %}
               {% bootstrap_field  form.mshs_jingle %}
               {% bootstrap_field  form.mshs_coupe %}
            </div>
            <div class="block-grey">
                <h2>Références</h2>
                <!-- display fields for a deposition -->
                {% bootstrap_field  form.mshs_title_ref_coirault %}
                {% bootstrap_field  form.mshs_code_coirault %}
                {% bootstrap_field  form.mshs_title_ref_laforte %}
                {% bootstrap_field  form.mshs_code_laforte %}
                {% bootstrap_field  form.mshs_title_ref_Dela %}
                {% bootstrap_field  form.mshs_code_Dela %}
                {% bootstrap_field  form.mshs_title_ref_Aare %}
                {% bootstrap_field  form.mshs_code_Aare %}
            </div>
        </div>
      
      {% for formset in inlines %}
      <div class="tab-pane" id="{{ formset.prefix }}">
          {% if formset.prefix == "performances" %}
            {% bootstrap_field  form.mshs_musical_organization %}
            {% bootstrap_field  form.mshs_group %}
          {% endif %}
          {{ formset.management_form }}
          {% for form in formset %}
           <div class="block-grey">
           {% bootstrap_form form %}
           </div>
          {% endfor %}
      </div>
      {% endfor %}
      <script>
            autocompletion ("cultural_area");
            autocompletion ("language");
            autocompletion ("mshs_timbre");
            autocompletion ("mshs_timbre_ref");
            autocompletion ("mshs_timbre_code");
            autocompletion ("mshs_title_ref_coirault");
            autocompletion ("mshs_code_coirault");
            autocompletion ("mshs_title_ref_laforte");
            autocompletion ("mshs_code_laforte");
            autocompletion ("mshs_title_ref_Dela");
            autocompletion ("mshs_code_Dela");
            autocompletion ("mshs_title_ref_Aare");
            autocompletion ("mshs_code_Aare");
            autocompletion ("mshs_musical_organization");
            autocompletion ("mshs_group");
      </script>

        <div class="tab-pane" id="tabs_container">
            <!-- this div will be hidden when everything is fully loaded-->
            <span id="loading_span" href="#"><img style="vertical-align:middle" alt="wait" src="{{ STATIC_URL }}telemeta/images/wait.gif" />&nbsp;
                <span id="loading_span_text">Loading...</span></span>
            <a id="tab_analysis" style="display:none" class ="tab" href="#">{% trans "File" %}</a><!--
             do not let space here as it appears in the document!!!!!
            --><a id="tab_markers" style="display:none" class="tab" href="#">{% trans "Markers" %}</a>

          <div class="markers" id="markers_div_id"></div>

          <div class="analyzer" id="analyzer_div_id">
            <table width="100%">
                <tr class="analyzer-title">
                    <td>{% trans "Property" %}</td>
                    <td>{% trans "Value" %}</td>
                    <td>{% trans "Unit" %}</td>
                </tr>
            </table>

          </div>
        </div>
    </div>

    <div align="center" style="margin-top:3ex;">
     {% block cancel2 %}
     <a id="cancel" href="{% url "telemeta-item-detail" item.public_id %}">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
      </button>
     </a>
     {% endblock %}
     {% if perms.telemeta.change_mediaitem %}
     <a id="save" href="#" onclick="var d=document; d.getElementById('wait-img').style.display='inline'; $('#_editForm').submit();">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-disk"></span> {% trans "Save" %}
      </button>
     </a>
     {% endif %}
    </div>

   </form>
  </div>

{% endblock infos %}

{% block related %}
{% endblock %}

{% block dublincore %}
{% endblock dublincore %}

{% block delete %}
{% endblock %}
