{% extends "telemeta/mediaitem_detail.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block head_title %}{% trans "Item" %}- {{ block.super }}{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block title %}
 <img src="{{ STATIC_URL }}telemeta/images/item.png" alt="item" style="vertical-align:middle" /> Item : NEW
{% endblock %}

{% block title_buttons %}
<div class="fixedWidthAsPlayer">
    <a href="{% url telemeta-items %}" class="component_icon button icon_cancel">{% trans "Cancel" %}</a>
    {% if perms.telemeta.add_mediaitem %}
    <a href="#" class="component_icon button icon_save" onclick="var d=document; d.getElementById('wait-img').style.display='inline'; setTimeout(function(){d.getElementById('_mediaItemCopyForm').submit();},300); return false;">{% trans "Save" %}</a>
    {% endif %}
    <img id="wait-img" style="display:none" style="vertical-align:middle" alt="wait" src="{{ STATIC_URL }}telemeta/images/wait.gif" />
</div>
{% endblock %}

{% block content %}
  {% block infos %}
    <div class="infos">
     <form enctype="multipart/form-data" id="_mediaItemCopyForm" method="post" action="">{% csrf_token %}
     <ul>{% for error in form.non_field_errors %}<li class="error">{{ error }}</li>{% endfor %}</ul>
      <table>
      {% for form in forms %}
       {% for field in form %}
            <tr>
            {% if field.html_name in hidden_fields %}
                <td>{{ field.label_tag.as_hidden }}{{ field.as_hidden }}</td>
            {% else %}
                <tr><td class="error">{{ field.errors }}</td></tr>
                <td>{{ field.label_tag }}:</td>
                    {% if field.html_name == "item-collection" %}
                    <td>&nbsp;{% trans "Title" %} : {{ item.collection.title }}<br />
                        &nbsp;{% trans "Code" %} : {{ item.collection.code }}<br />
                        {{ field }}</td>
                    {% else %}
                    <td>{{ field }}</td>
                    {% endif %}
            {% endif %}
            </tr>
       {% endfor %}
       {% endfor %}
       </table>
       <div align="center" style="margin-top:3ex;">
         <a href="{% url telemeta-items %}" class="component_icon button icon_cancel">{% trans "Cancel" %}</a>
         <a href="#" class="component_icon button icon_save" onclick="var d=document; d.getElementById('wait-img2').style.display='inline'; setTimeout(function(){d.getElementById('_mediaItemCopyForm').submit();},300); return false;">{% trans "Save" %}</a>
        <img id="wait-img2" style="display:none" style="vertical-align:middle" alt="wait" src="{{ STATIC_URL }}telemeta/images/wait.gif" />
       </div>
     </form>
    </div>
  {% endblock infos %}
{% endblock %}

{% block delete %}
{% endblock %}

