{% extends "telemeta/mediaitem_edit.html" %}
{% load telemeta_tags %}
{% load i18n %}

{% block head_title %}{% trans "Item" %}- {{ block.super }}{% endblock %}

{% block title %}
    <img src="{{ STATIC_URL }}telemeta/images/item.png" alt="item" style="vertical-align:middle" /> Item : {% trans "New" %}
{% endblock %}

{% block collection %}
    <h4>{% trans "Collection" %} : {{public_id}} </h4>
{% endblock %}

{% block last_modification_date %}
{% endblock %}

{% block  locations %}
{% for loc in collection.location.all %}
    <li>{{ loc }}<li>
{% endfor %}
{% endblock %}

    {% block cancel %}
    <a id="cancel" href="{% url "telemeta-items" %}">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
      </button>
    </a>
    {% endblock %}

     {% block cancel2 %}
     <a id="cancel" href="{% url "telemeta-items" %}">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
      </button>
     </a>
     {% endblock %}

{% block infos %}
    {{ block.super }}
    <script>
        PreRemplissageMultiple("id_collectors");

        function PreRemplissageMultiple(champ){
            $("#"+champ+"> option").prop("selected","selected");
            $("#"+champ).trigger("change");
        };
    </script>
 {% endblock infos %}
