{% extends "telemeta/mediaitem_list.html" %}
{% load i18n %}
{% load telemeta_tags %}
{% load bootstrap_pagination %}

{% block instru_name %}{{ nom }} {% endblock %}
{% block instru_name_h %}{{ nom }} {% endblock %}
{% block url_all %}{% url "telemeta-instrument-item-list" id %}{% endblock %}
{% block url_unpublished %}{% url "telemeta-items-instrument-unpublished" id %}{% endblock %}
{% block url_published %}{% url "telemeta-items-instrument-published" id %}{% endblock %}
{% block url_sound %}{% url "telemeta-items-instrument-sound" id %}{% endblock %}
{% block extra_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}telemeta/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}telemeta/css/lists_sorttable.css" media="print, projection, screen"/>
{% endblock %}
{% block extra_javascript %}
<script src="{{ STATIC_URL }}tablesorter/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script>

$(document).ready(function(){
        $.tablesorter.defaults.sortList = [[5,0]];
        		$(".listing").tablesorter({headers: {1:{sorter:false}}} );
});
</script>
{% endblock %}
