{% extends "telemeta/mediaitem_detail.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% if item %}

{% block infos %}
{% with item|to_dublincore as resource %}
{% include "telemeta/inc/dublincore.html" %}
{% endwith %}
{% endblock %}
{% else %}
    <p>{% trans "No such item" %}</p>
{% endif %}

{% block delete %}
<a class="component_icon button icon_previous" style="float:left;margin-top:0.5em;margin-bottom:1em" href="{% url "telemeta-item-detail" item.public_id %}">{% trans "Normal View" %}</a>
{% if user.is_authenticated and perms.telemeta.delete_mediaitem %}
 <a href="#" onclick="if(confirm(gettrans('delete the item permanently?'))){window.location.href='{% url "telemeta-item-delete" item.public_id %}';};return false;"
        class="component_icon button icon_delete" style="float:right;margin-top:0.5em;margin-bottom:1em">{% trans "Delete" %}</a>
{% endif %}
{% endblock %}


{% block related %}
{% endblock related %}
