{% extends "telemeta/resource_edit.html" %}
{% load i18n %}
{% load telemeta_utils %}
{% load bootstrap3 %}

{% block title %}
<img src="{{ STATIC_URL }}telemeta/images/{{ type }}.png" style="vertical-align:middle" /> {{ type }} : {% trans "New" %}
{% endblock %}

{% block title_buttons %}
    <a href="{% url "telemeta-resource-list" type %}" class="component_icon button icon_cancel">{% trans "Cancel" %}</a>
{% endblock %}

      {% block cancel %}
       <a href="{% url "telemeta-resource-list" type %}" class="component_icon button icon_cancel">{% trans "Cancel" %}</a>
       {% endblock %}
