{% extends "telemeta/resource_edit.html" %}
{% load i18n %}
{% load telemeta_utils %}
{% load bootstrap3 %}

{% block title %}
<img src="{{ STATIC_URL }}telemeta/images/{{ type }}.png" style="vertical-align:middle" /> {{ type }} : {% trans "New" %}
{% endblock %}

    {% block cancel %}
    <a id="cancel" href="{% url "telemeta-resource-list" type %}">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
      </button>
    </a>
    {% endblock %}

     {% block cancel2 %}
     <a id="cancel" href="{% url "telemeta-resource-list" type %}">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}
      </button>
     </a>
     {% endblock %}
