Source: telemeta
Section: sound
Priority: optional
Maintainer: Guillaume Pellerin <yomguy@altern.org>
Uploaders: Paul Brossier <piem@debian.org>
Build-Depends: debhelper (>= 5.0.0), docbook-to-man, python (>= 2.4), cdbs (>= 0.4.42), python-setuptools (>= 0.6b3), python-support (>= 0.3), python-dev (>= 2.4)
Standards-Version: 3.7.3

Package: telemeta
Architecture: any
Depends: ${python:Depends}, python-xml, python-mutagen, python-django (>= 0.96.2), sox, vorbis-tools, flac, normalize-audio, python-mysqldb, mysql-server, octave2.9, python-tk, libgd2-xpm, libsndfile1, python-numpy
Recommends: lame
Suggests: ecasound, festival, par2
Description: web frontend to backup, transcode and tag any audio content with metadata
 Telemeta is a global audio archiving program which introduces useful and 
 secure indexing methods to backup digitalized audio files and metadata 
 dictionnaries. It is dedicated to backup any digitized and documented sound 
 from collections of vinyls, magnetic tapes or audio CD over a strong database
 in accordance with many standards. Export functions also encapsulate edited 
 metadata into compressed file. The object style architecture will soon provide
 user-friendly interfaces and plugin' style audio processing.
 Here are the main features of Telemeta:
    * Secure media editing and archiving over networks
    * Easy transcoding
    * Full tagging and marking methods
    * XML metadata backup
    * Web interface introducing WorkFlow
    * SQL backend
    * Data anti-corruption security with par2 recovery keys
    * Data synchronizing over remote servers (rsync)
    * Auto AudioMarking from metadata (thanks to Festival and Ecasound)
 The Telemeta concept is based on collections. A collection includes original
 sounds - or albums containing sounds - which will be backuped in a secure way
 with a view of transcoded 'public' formats (WAV, FLAC, MP3, OGG and many more
 soon...) including metadata editing and publishing tools.
 See http://svn.parisson.org/telemeta/ for more informations.
