{% extends "telemeta/home.html" %}
{% load telemeta_tags %}
{% load i18n %}


{% block partners %}
<div id="module" class="module">
    <h3><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" style="vertical-align:middle" />
    {% trans "Partners" %}</h3><br />
    <div style="background-color: white; padding: 1ex;" align="center">
    <a href="http://mshs.univ-poitiers.fr/" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo_mshs.png" alt="CNRS"></a>&nbsp;&nbsp;&nbsp;
    <a href="https://www.laregion-alpc.fr/" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo_region_poitou_charentes.png" alt="CNRS"></a>
    <a href="http://www.cnrs.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo-CNRS.png" alt="CNRS"></a>&nbsp;&nbsp;&nbsp;
    <br /><br />
    <a href="http://www.parisson.com" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/parisson_logo_125_72.png" alt="Parisson"></a>
    <a href="http://www.huma-num.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logohumanum.png" alt="Huma-Num"></a>
    </div>
</div>
{% endblock %}
