{% extends "telemeta/mediaitem_detail.html" %}
{% load telemeta_tags %}
{% load i18n %}

  
{% block general_info %}
    <dl class="listing">
        {% dl_field item "title" placeholder %}
        {% dl_field item "alt_title" %}
        {% dl_field item "description" placeholder %}
        {% dl_field item "collector" placeholder %}
        {% dl_field item "informer" placeholder %}
        <dt>{% field_label item "collection" %}</dt>
        <dd><a href="{% url "telemeta-collection-detail" item.collection.public_id %}">{{ item.collection.title }}</a></dd>
        <dt>{% trans "Recording date" %}</dt>
        <dd>{% if item.recorded_from_date %}{{ item.recorded_from_date }}{% endif %}{% if item.recorded_from_date and item.recorded_to_date%} - {% endif %}{% if item.recorded_to_date %}{{ item.recorded_to_date}}{% endif %}</dd>
        <dt>{% trans "Access type" %}</dt>
        <dd>{% trans item.public_access %}</dd>
    </dl>
{% endblock general_info %}

{% block analyze_data %}
<div>
    <h4><a href="#">Analyse</a></h4>
    <dl class="listing">
        <dt>Format</dt>
        <dd>{{ item.get_mshs_format_display }}</dd>
        {% if item.mshs_format == "CH" %}
            <!-- display fields for a song -->
            {% dl_field item "mshs_ch_title" %}
            {% dl_field item "mshs_ch_title_ref_coirault" %}
            {% dl_field item "mshs_ch_title_ref_laforte" %}
            {% dl_field item "mshs_ch_code_coirault" %}
            {% dl_field item "mshs_ch_code_laforte" %}
            {% dl_field item "mshs_ch_alt_title" %}
            {% dl_field item "mshs_ch_details" %}
            {% dl_field item "mshs_ch_incipit" %}
            {% dl_field item "mshs_ch_refrain" %}
            {% dl_field item "mshs_ch_coupe" %}
            {% dl_field item "mshs_ch_timbre" %}
            {% dl_field item "mshs_function" %}
            {% dl_field item "mshs_ch_kind" %}
        {% endif %}
        {% if item.mshs_format == "FB" %}
            <!-- display fields for a "forme breve" -->
            {% dl_field item "mshs_fb_title" %}
            {% dl_field item "mshs_fb_alt_title" %}
            {% dl_field item "mshs_fb_details" %}
            {% dl_field item "mshs_fb_incipit" %}
            {% dl_field item "mshs_fb_refrain" %}
            {% dl_field item "mshs_ch_coupe" %}
            {% dl_field item "mshs_fb_timbre" %}
            {% dl_field item "mshs_function" %}
            {% dl_field item "mshs_fb_kind" %}
        {% endif %}
        {% if item.mshs_format == "CO" %}
            <!-- display fields for a tale-->
            {% dl_field item "mshs_co_title" %}
            {% dl_field item "mshs_co_title_ref_Aare" %}
            {% dl_field item "mshs_co_title_ref_Dela" %}
            {% dl_field item "mshs_co_code_Aare" %}
            {% dl_field item "mshs_co_code_Dela" %}
            {% dl_field item "mshs_co_alt_title" %}
            {% dl_field item "mshs_co_jingle" %}
            {% dl_field item "mshs_function" %}
            {% dl_field item "mshs_co_kind" %}
        {% endif %}
        {% if item.mshs_format == "TE" %}
            <!-- display fields for a deposition-->
            {% dl_field item "mshs_te_digest" %}
            {% dl_field item "mshs_te_details" %}
            {% dl_field item "mshs_te_thematic" %}
            {% dl_field item "mshs_te_names" %}
            {% dl_field item "mshs_te_places" %}
            {% dl_field item "mshs_te_periods" %}
        {% endif %}
        {% if item.mshs_format == "MU" %}
            <!-- display fields for a music-->
            {% dl_field item "mshs_mu_title" %}
            {% dl_field item "mshs_mu_alt_title" %}
            {% dl_field item "mshs_mu_author" %}
            {% dl_field item "mshs_mu_details" %}
            {% dl_field item "mshs_mu_details_tune" %}
            {% dl_field item "mshs_mu_gavotte_bool" %}
            {% dl_field item "mshs_mu_gavotte" %}
            {% dl_field item "mshs_mu_timbre" %}
            {% dl_field item "mshs_function" %}
            {% dl_field item "mshs_mu_dance" %}
            {% dl_field item "mshs_mu_details_dance" %}
        {% endif %}
    </dl>
</div>
{% endblock analyze_data %}


{% block geoethnic_data %}
        <div>
            <h4><a href="#">{% trans "Geographic and cultural informations" %}</a></h4>
            <dl class="listing">
                <dt>{% trans "Location" %}</dt>
                <dd>{% if item.location %}{{ item.location.name }}{% endif %}</dd>
                {% dl_field item "location_comment" %}
                {% dl_field item "cultural_area" %}
                {% dl_field item "language" %}
                {% if item.language_iso %}
                <dt>{% trans "Language (ISO norm)" %}</dt>
                <dd>{{ item.language_iso.name|to_utf8 }}</dd>
                {% endif %}
                <dt>{% trans "Ethnographic context" %}</dt>
                <dd>{{ item.context_comment|html_line_break|safe }}</dd>
                {% dl_field item "keywords" join with ", " %}
            </dl>
        </div>
{% endblock geoethnic_data %}


{% block musical_data %}
        <div>
            <h4><a href="#">Informations sur l'élément sonore</a></h4>
            {% if item.performances %}
            <div class="instruments">
                <table class="instruments">
                    <thead>
                        <tr>
                            <td>{% field_label "MediaItemPerformance" "instruments_num" %}</td>
                            <td>{% field_label "MediaItemPerformance" "instrument" %}</td>
                            <td>{% field_label "MediaItemPerformance" "alias" %}</td>
                            <td>{% field_label "MediaItemPerformance" "musicians" %}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for performance in item.performances.all %}
                        <tr>
                            <td>{{ performance.instruments_num }}</td>
                            <td>{{ performance.instrument|default:"" }}</td>
                            <td>{{ performance.alias|default:"" }}</td>
                            <td>{{ performance.musicians }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
{% endblock musical_data %}


{% block archive_data %}
        <div>
            <h4><a href="#">{% trans "Archiving data" %}</a></h4>
            <dl class="listing">
                {% dl_field item "code" %}
                {% dl_field item "old_code" %}
                {% dl_field item "creator_reference" %}
                <dt>{% trans "Remarks" %}</dt>
                <dd>{{ item.comment|html_line_break|safe }}</dd>
                {% if last_revision %}
                <dt>{% trans "Last modification" %}</dt>
                <dd>{{ last_revision.time }} {% if user.is_authenticated %}(<a href="{% url "telemeta-profile-detail" last_revision.user.username %}">{{last_revision.user.username}}</a>){% endif %}</dd>
                {% endif %}
            </dl>
        </div>
{% endblock archive_data %}
