{% extends "telemeta/mediaitem_detail.html" %}
{% load telemeta_tags %}
{% load mshs_tags %}
{% load i18n %}


{% block general_info %}
    <dl class="listing">
        <dt>{% field_label item "collection" %}</dt>
        <dd><a href="{% url "telemeta-collection-detail" item.collection.public_id %}">{{ item.collection.title }}</a></dd>
        {% dl_field item "title" placeholder %}
        {% dl_field item "alt_title" %}
        {% dl_field item "mshs_alt_title" %}
        <dt>Description de l'item</dt>
        <dd> {{ item.description_markdown | safe }}</dd>
        <dt>Enquêteur(s)</dt>
        <dd>
            {% for collec in item.collectors.all %}
                <a href="{% url "telemeta-authorities-detail" collec.id %}">{{ collec }}</a>,
            {% endfor %}
        </dd>
        <dt>Informateur(s)</dt>
        <dd>
            {% for inform in item.informer.all %}
                <a href="{% url "telemeta-authorities-detail" inform.id %}">{{ inform }}</a>,
            {% endfor %}
        </dd>
        <dt>Date d'enregistrement</dt>
        <dd>{{ item.collection.recorded_from_year }}</dd>
        <dt>{% trans "Access type" %}</dt>
        <dd>{% trans item.public_access %}</dd>
    </dl>

    <div class="extraInfos">
        <div>
            <h4><a href="#">{% trans "Geographic and cultural informations" %}</a></h4>
            <dl class="listing">
                <dt>{% trans "Location" %}</dt>
                <dd>
                    {% for loc in item.collection.location.all %}
                        {{ loc }},
                    {% endfor %}
                </dd>
                {% dl_field item "location_comment" %}
                <dt>Langue(s) (norme ISO)</dt>
                <dd>
                    {% if item.language_iso.all %}
                        {% for lang in item.language_iso.all %}
                            {{ lang }},
                        {% endfor %}
                    {% endif %}
                </dd>
                <dt>Langue(s)</dt>
                <dd>{{ item.language }}</dd>

                <dt>Contexte d'enregistrement</dt>
                <dd>
                    {% if item.collection.recording_context %}
                        {{ item.collection.recording_context }}
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>

    <div class="extraInfos">
        <div>
            <h4><a href="#">{% trans "Archiving data" %}</a></h4>
            <dl class="listing">
                {% dl_field item "code" %}
                {% dl_field item "old_code" %}
                {% if last_revision %}
                <dt>{% trans "Last modification" %}</dt>
                <dd>{{ last_revision.time }} {% if user.is_authenticated %}(<a href="{% url "telemeta-profile-detail" last_revision.user.username %}">{{last_revision.user.username}}</a>){% endif %}</dd>
                {% endif %}
            </dl>
        </div>
    </div>

    <div class="extraInfos">
        <div>
            <h4><a href="#">{% trans "Technical data" %}</a></h4>
            <dl class="listing">
                {% dl_field item "media_type" %}
                {% if not item.file %}
                {% dl_field item "approx_duration" %}
                {% endif %}
                {% if item.size %}
                <dt>{% trans "Item size" %}</dt>
                 <dd>{{ item.size|filesizeformat }}</dd>
                {% endif %}
            </dl>

        </div>
    </div>

{% endblock general_info %}

{% block analyze_data %}
<div class="extraInfos">
    <div>
    <h4><a href="#">Description</a></h4>
    <dl class="listing">
            {% dl_field item "keywords" join with ", " %}
            <!-- display fields for a deposition-->
            {% dl_field item "mshs_author" %}
            {% dl_field item "mshs_composer" %}
            {% dl_field item "mshs_timbre" %}
            {% dl_field item "mshs_timbre_ref" %}
            {% dl_field item "mshs_timbre_code" %}
            {% dl_field item "mshs_melody" %}
            <dt>Domaine(s)</dt>
            <dd>{{ item.mshs_domain | label_domain }}</dd>
            {% dl_field item "mshs_domain_song" %}
            {% dl_field item "mshs_domain_vocal" %}
            {% dl_field item "mshs_domain_music" %}
            {% dl_field item "mshs_domain_tale" %}
            {% dl_field item "mshs_function" %}
            {% dl_field item "mshs_dance" %}
            <dt>Précisions sur la danse</dt>
            <dd>{{ item.mshs_dance_details_markdown|safe }}</dd>
    </dl>
    </div>
</div>
<div class="extraInfos">
    <div>
    <h4><a href="#">Témoignage</a></h4>
    <dl class="listing">
      <!-- display fields for a deposition-->
            <dt>Résumé</dt>
            <dd>{{ item.mshs_deposit_digest_markdown|safe }}</dd>
            {% dl_field item "mshs_deposit_thematic" %}
            {% dl_field item "mshs_deposit_names" %}
            {% dl_field item "mshs_deposit_places" %}
            {% dl_field item "mshs_deposit_periods" %}
    </dl>
    </div>
</div>
<div class="extraInfos">
    <div>
    <h4><a href="#">Texte</a></h4>
    <dl class="listing">
        <!-- display fields for a text -->
        {% dl_field item "mshs_text_bool" %}
        <dt>{% trans "Text" %}</dt>
        <dd>{{ item.mshs_text_markdown|safe }}</dd>
        {% dl_field item "mshs_incipit" %}
        {% dl_field item "mshs_refrain" %}
        {% dl_field item "mshs_jingle" %}
        {% dl_field item "mshs_coupe" %}
        {% dl_field item "mshs_title_ref_coirault" %}
        {% dl_field item "mshs_title_ref_laforte" %}
        {% dl_field item "mshs_title_ref_Dela" %}
        {% dl_field item "mshs_title_ref_Aare" %}
    </dl>
    </div>
</div>
{% endblock analyze_data %}


{% block geoethnic_data %}
{% endblock geoethnic_data %}

{% block technical_data %}
{% endblock technical_data %}


{% block musical_data %}
        <div>
            <h4><a href="#">Informations sur l'élément sonore</a></h4>
            <dl class="listing">
                {% dl_field item "mshs_musical_organization" %}
                {% dl_field item "mshs_group" %}
            </dl>
            {% if item.mshs_informers %}
            <div class="instruments">
                <table class="instruments">
                    <thead>
                        <tr>
                            <td>{% trans "number" %}</td>
                            <td>{% trans "instrument" %}</td>
                            <td>Nature</td>
                            <td>{% trans "Hornbostel-Sachs" %}</td>
                            <td>{% trans "informer" %}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for performance in item.mshs_informers.all %}
                        <tr>
                            <td>{{ performance.number|default:"" }}</td>
                            <td>{{ performance.instrument|default:"" }}</td>
                            <td>{{ performance.alias|default:"" }}</td>
                            <td>{{ performance.hornbostel }}</td>
                            <td>{{ performance.musician }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
{% endblock musical_data %}


{% block archive_data %}
{% endblock archive_data %}
