{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from suit_compat %}
{% load leaflet_tags %}


{% block extrajs %}
    {{ block.super }}
    
    {% leaflet_js %}
    <script src="{{ STATIC_URL }}leaflet-search/dist/leaflet-search.min.js" type="text/javascript"></script>
    <script>
        function map_init_basic (map, options) {
            bounds = L.bounds(
                L.point( 50, -85 ),
                L.point( 30, 0 )
            );
            map.setMaxZoom(18);
            map.setMaxBounds( bounds );
            map.fitBounds( [ [50, -85], [30, 0] ] );
            
            // Create a marker to identify the current location on the map
            var markerLocation = L.marker( [ $("#id_latitude").val(), $("#id_longitude").val()],{ draggable:true } ).addTo(map);
            markerLocation.on("drag", function(e) {
                // When the marker is dragged ...
                var marker = e.target;
                var position = marker.getLatLng();
                // ... refresh the coordinates's values (Lat, Lon )
                $("#id_latitude").val( position.lat );
                $("#id_longitude").val( position.lng );
            });
                        
             // Add a search control on the map
            var searchControl = new L.Control.Search({
                url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
                jsonpParam: 'json_callback',
                propertyName: 'display_name',
                propertyLoc: ['lat','lon'],
                marker: markerLocation, 
                autoCollapse: true,
                autoType: false,
                minLength: 2,
                zoom: 12,
                position:'topleft',
            });
            
            searchControl.on('search:locationfound', function(e) {
                // Refresh the coordinates's values (Lat, Lon )
                $("#id_latitude").val( e.latlng.lat );
                $("#id_longitude").val( e.latlng.lng );
            });
            
            map.addControl( searchControl );
            
        }
    </script>
{% endblock %}


{% block extrastyle %}
    {{ block.super }}
    
    {% leaflet_css %}
    <style>
        .leaflet-container {  /* all maps */
            width:  100%;
            height: 400px;
        }

    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-search/dist/leaflet-search.min.css" />
{% endblock %}


{% block field_sets %}
    {{ block.super }}
    <div class="control-group form-row field-localisation ">
        <div>
            <div class="control-label">
                <label class="" for="id_name">Localisation:</label>
            </div>
            <div class="controls">
                {% leaflet_map "mapItems" callback="window.map_init_basic" %}
            </div>
        </div>
        

    </div>
{% endblock %}


