{% extends "base.html" %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% url telemeta-css "admin.css" %}" />
{% endblock %}

{% block content %}
<h3>Administration</h3>
<div class="tabs">
<ul>
<li>Users</li>

{% if enumerations %}
    <li>Enumerations
    <ul>
    {% for enum in enumerations %}
        {%ifequal enum.id enumeration_id %}
            <li class="active">{{ enum.name|capfirst }}</li>
        {%else%}
            <li><a href="{% url telemeta-enumeration-edit enum.id %}">
                {{ enum.name|capfirst }}</a></li>
        {%endifequal%}
    {% endfor %}
    </ul>
</li>
{% endif %}
</ul>
</div>
<div class="tabcontents">
    {% block tabcontents %}
    {% endblock %}
</div>
{% endblock %}
