{% extends "base.html" %}
{% load telemeta_utils %}

{% block extra_javascript %}
<script src="{% url telemeta-js "swfobject.js" %}" type="text/javascript"></script>
{% endblock %}

{% block submenu %}
    <a href="{% url telemeta-collection-dublincore object.id|urlencode %}">
        Dublin Core</a>
{% endblock %}

{% block content %}
{% if object %}
    {% if object.has_mediafile %}
    <div id="collection_player">
      <p><b>Listen to this collection</b>
      (<a href="{% url telemeta-collection-m3u object.id|urlencode %}">M3U</a>,
      <a href="{% url telemeta-collection-xspf object.id|urlencode %}">XSPF</a>)</p>
      {% if 0 %} {# Use 1/0 for alternate player #}
        <!-- This is the XSPF Web Music Player, under the BSD license, 
          from: http://musicplayer.sourceforge.net/-->
        <object type="application/x-shockwave-flash" width="300" height="200"
          data="{% url telemeta-swf "xspf_player.swf" %}?playlist_url={% url telemeta-collection-xspf object.id|urlencode %}">
          <param name="movie" 
            value="{% url telemeta-swf "xspf_player.swf" %}?playlist_url={% url telemeta-collection-xspf object.id|urlencode %}" />
        </object>
      {% else %}
        <!-- This is Jeroen Wijering's Flash MP3 Player, 
          under CC Attribution-NonCommercial-ShareAlike 2.0 license
          from: http://www.jeroenwijering.com/?item=Flash_MP3_Player-->
        <p id="collection_player_c">
          <a href="http://www.macromedia.com/go/getflashplayer">Get Flash</a> to see this player.
        </p>
        <script type="text/javascript">
          var so = new SWFObject('{% url telemeta-swf "mp3player.swf" %}','playlist','300','200','7');
          so.addVariable("file","{% url telemeta-collection-xspf object.id|urlencode %}");
          so.addVariable("displayheight","0");
          so.write('collection_player_c');
        </script> 
      {% endif %}
    </div>      
    {% endif %}

    <h3>Collection: {{ object.title }}</h3>
    
    <div id="collection_elements">
    <table class="dublincore listing">
    <thead>
        <tr><th>Element</th><th>Value</th></tr>
    </thead>
    <tbody>
        {% for field in object.to_list %}
            {% ifnotequal field.name "title" %}
            <tr><th>{{ field.name|capfirst }}</th>
            <td>{{ field.value }}</td></tr>
            {% endifnotequal %}
        {% endfor %}
    </tbody>
    </table>
    <div>

    <hr>
    <h4>Items</h4>
    {% with object.items.all as items %}
        {% include "inc/mediaitem_list.html" %}
    {% endwith %}
{% else %}
    <p>No such collection</p>
{% endif %}
{% endblock %}
