{% extends "base.html" %}
{% load telemeta_utils %}

{% if object %}
{% block submenu %}
    <h3>Collection: {{ object.title }}</h3>
    <div><a href="{% url telemeta-collection-detail object.id|urlencode %}">Normal View</a></div>
{% endblock %}

{% block content %}
    
    <table class="dublincore listing">
    <caption>Dublin Core Expression</caption>
    <thead>
        <tr><th>Element</th><th>Refinement</th><th>Value</th></tr>
    </thead>
    <tbody>
        {% for element in object.to_dublincore.elements %}
            {% if element.value %}
            <tr><th>{{ element.name }}</th>
            <td>{{ element.refinement|default:"&nbsp;" }}</td>
            <td>{{ element.value }}</td></tr>
            {% endif %}
        {% endfor %}
        {% for item in object.ordered_items %}
            <tr><th>relation</th><td>hasPart</td><td>
            <a href="{% url telemeta-item-dublincore item.id|urlencode %}">
                {{ item.id }}</a>
            </td></tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
{% else %}
    <p>No such collection</p>
{% endif %}