{% extends "base.html" %}

{% block content %}
{% if object %}
    <h3>Collection: {{ object.title }}</h3>
    <ul>
    {% for field in object.list %}
        {% ifnotequal field.name "title" %}

        <li><b>{{ field.name|capfirst }}</b> : {{ field.value }}</li>

        {% endifnotequal %}
    {% endfor %}
    </ul>
    <hr>
    <h4>Items</h4>
    <ul>
    {% for item in object.items.all %}
        <li><b>{{ item.creator }}</b> - {{ item.title }}
            <a href="{% url telemeta-item-detail item.id %}">View</a>
            <a href="#">Edit</a>
            </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No such collection</p>
{% endif %}
{% endblock %}
