{% extends "base.html" %}
{% load telemeta_utils %}

{% if object %}
{% block submenu %}
    <h3>Collection: {{ object.title }}</h3>
    <div><a href="{% url telemeta-collection-detail object.id|urlencode %}">Normal View</a></div>
{% endblock %}

{% block content %}
    <h4 class="dublincore">Dublin Core Expression</h4>
    <dl class="dublincore">
        <dt class="caption"><span>Element</span>Refinement</dt><dd class="caption">Value</dd>
        {% for element in object.to_dublincore.elements %}
        {% if element.value %}
        <dt><span>{{ element.name }}</span>{{ element.refinement|default:"&nbsp;" }}</dt><dd>{% ifequal element.field "collection" %}<a href="{% url telemeta-collection-dublincore item.collection.id|urlencode %}">{{ element.value }}</a>{% else %}{{ element.value }}{% endifequal %}</dd>
        {% endif %}
        {% endfor %}
        {% for item in object.ordered_items %}
        <dt><span>relation</span>hasPart</dt><dd><a href="{% url telemeta-item-dublincore item.id|urlencode %}">{{ item.id }}</a></dd>
        {% endfor %}
    </dl>
{% endblock %}
{% else %}
    <p>No such collection</p>
{% endif %}