{% extends "admin.html" %}

{% block tabcontents %}
    <h4>Manage {{ dictionary_name_plural|capfirst }}</h4>



 <form class="addnew" id="addenum" method="post"
        action="/admin/dictionaries/{{dictionary_id}}/add/">
  <fieldset>
   <legend>Add {{ dictionary_name|capfirst }}</legend>
   <div class="field">
    <label>Value: <input type="text" name="value"></label>

   </div>
   <div class="buttons">
    <input type="submit" name="add" value="Add">
   </div>
  </fieldset>
 </form>
 {% if dictionary_values %}
 <form method="POST" action="/admin/dictionaries/{{dictionary_id}}/update/">
  <table class="listing">
   <thead>
    <tr><th class="sel">&nbsp;</th><th>Value</th>

    </tr>
   </thead><tbody>
    {% for record in dictionary_values %}
    <tr>
     <td><input type="checkbox" name="sel" value="{{record.id}}" /></td>
     <td><a href="/admin/dictionaries/{{dictionary_id}}/{{record.id}}">
        {{record.value}}</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="buttons">
   <input type="submit" name="remove" value="Remove selected items" />
  </div>
 </form>
 {% else %}
    <p class="help">This dictionary is empty.</p>
 {% endif %}

  <br style="clear: right"/>

{% endblock %}
