{% extends "admin.html" %}

{% block tabcontents %}
    <h4>Manage {{ enumeration_name_plural|capfirst }}</h4>



 <form class="addnew" id="addenum" method="post"
        action="{% url telemeta-enumeration-add enumeration_id %}">
  <fieldset>
   <legend>Add {{ enumeration_name|capfirst }}</legend>
   <div class="field">
    <label>Value: <input type="text" name="value"></label>

   </div>
   <div class="buttons">
    <input type="submit" name="add" value="Add">
   </div>
  </fieldset>
 </form>
 {% if enumeration_values %}
 <form method="POST" action="{% url telemeta-enumeration-update enumeration_id %}">
  <table class="listing">
   <thead>
    <tr><th class="sel">&nbsp;</th><th>Value</th>

    </tr>
   </thead><tbody>
    {% for record in enumeration_values %}
    <tr>
     <td><input type="checkbox" name="sel" value="{{record.id}}" /></td>
     <td><a href="{% url telemeta-enumeration-record-edit enumeration_id,record.id %}">
        {{record.value}}</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="buttons">
   <input type="submit" name="remove" value="Remove selected items" />
  </div>
 </form>
 {% else %}
    <p class="help">This enumeration is empty.</p>
 {% endif %}

  <br style="clear: right"/>
{% endblock %}
