{% extends "base.html" %}
{% block content %}
<div class="homelinks">
<p><a href="{% url telemeta-geo-continents %}">Geographic Navigator</a><br />
  Browse collections by continents and countries</p>
<p><a href="{% url telemeta-collections %}">All collections</a><br />
  Browse all collections</p>
<p><a href="{% url telemeta-items %}">All items</a><br />
  Browse all items</p>
<p><a href="{% url telemeta-admin %}">Administration</a><br />
  Configure Telemeta and manage users</p>
</div>
{% endblock %}
