{% extends "base.html" %}

{% block content %}
{% if item %}
    <h3>Item: {{ item.title }}</h3>
    <div class="item_visualization">
      <img src="visualize/{{visualizer_id}}">
      <form method="GET">
        <select name="visualizer_id" onchange="this.form.submit()">
          {% for v in visualizers %}
            <option value="{{ v.id }}" {% ifequal v.id visualizer_id %} selected {% endifequal %}>
              {{v.name}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="OK">
      </form>
    </div>
    <ul>
    {% for field in item.list %}
        {% ifnotequal field.name "id" %}
        {% ifnotequal field.name "title" %}
        {% ifnotequal field.name "file" %}

        <li><b>{{ field.name }}</b> : 
            {% ifequal field.name "collection" %}
            <a href="/collections/{{ field.value.id }}">{{ field.value }}</a>
            {% else %}
            {{ field.value }}
            {% endifequal %}
            </li>

        {% endifnotequal %}
        {% endifnotequal %}
        {% endifnotequal %}
    {% endfor %}
    </ul>
    Download:
    {% for format in export_formats %}
        <a href="/items/{{ item.id }}/download/{{ format }}">{{ format }}</a>
    {% endfor %}
{% else %}
    <p>No such item</p>
{% endif %}
{% endblock %}

