{% extends "base.html" %}

{% block content %}
<h3>Media Item</h3>

<form action="/telemeta/media_item/{{ media_item.id }}/update/" method="post">
<label>Author : </label><input name="author" value="{{ media_item.author }}"><br/>
<label>Title : </label><input name="title" value="{{ media_item.title }}"><br/>
{% if dynprops %}
    {% for prop in dynprops %}
        <label>{{ prop.name }} : </label>
            {% ifequal prop.type "text" %}
                <input name="dynprop_{{ prop.id }}"  value="{{ prop.value }}"><br/>
            {% else %}
                <select name="dynprop_{{ prop.id }}">
                    <option value="0"></option>
                    {% for item in prop.enumeration %}
                        <option value="{{ item.id }}" 
                            {% ifequal prop.value.id item.id %} selected {% endifequal %} >
                                {{ item.name }}</option>
                    {% endfor %}
                </select>
            {% endifequal %}
    {% endfor %}
{% endif %}
<p>
<input type="submit">
</form>
{% endblock %}
